<div class="container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10 col-md-offset-3 col-md-6">
      <div id="confirmation">
        <h2>Renvoyer les instructions de connexion</h2>

        <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= f.error_notification %>
          <%= f.full_error :confirmation_token %>

          <div class="form-inputs">
            <%= f.input :email, required: true, autofocus: true %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Renvoyer les instructions de confirmation", class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
