<div class="hidden-xs" id="desktop">
  <div class= "banner" id=<%= "#{@category_page.split.join.downcase.gsub('é', 'e')}" %>>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <% if @category_page == @categories[0] %>
              <h1>DÉCOUVREZ LES SOLUTIONS POUR TROUVER SA VOIE</h1>
          <% elsif @category_page == @categories[1] %>
              <h1>DÉCOUVREZ LES SOLUTIONS POUR TROUVER UN JOB</h1>
          <% elsif @category_page == @categories[2] %>
              <h1>DÉCOUVREZ LES SOLUTIONS POUR CHANGER DE MÉTIER</h1>
          <% elsif @category_page == @categories[3] %>
              <h1>DÉCOUVREZ LES SOLUTIONS POUR CHANGER DE BOITE</h1>
          <% elsif @category_page == @categories[4] %>
              <h1>DÉCOUVREZ LES SOLUTIONS POUR CRÉER SA BOITE</h1>
          <% else %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10">
          <%= render "search_category_page", id: "search-bar" %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-3">
        <!-- =========== LEFT -->
          <div id="left-side">
            <%= render "event_banner" %>

            <div id="tag-filter" class="white-block">
              <p id="filter-title">Ou filtrer par thème</p>
                <% @tags.each do |tag| %>
                <ul>
                  <li>
                    <p >
                      <span id="menu_filter" class="btn-grey">
                        <%= link_to tag, {controller: "ressources", tag: "#{tag}"}, id:"btn-grey" %>
                        (<%= Ressource.all.where(['tag ILIKE ?', "%#{tag}%"]).count %>)
                      </span>
                    </p>
                  </li>
                </ul>
                <% end %>
            </div>
            <div id="newsletter" class="white-block text-center">
              <p class="left-title">Recevez nos bons plans 1 fois / semaine</p>
              <%= link_to "S'inscrire", "#", {:class => "btn btn-primary", "data-toggle" => "modal", "data-target" => "#myModal"} %>
            </div>
            <div id="reseaux-sociaux" class="white-block">
              <p class="left-title">Suivez-nous</p>
              <ul class="list-inline text-center">
                <li>
                  <div id="facebook">
                    <%= link_to "https://www.facebook.com/workuper/", target: "blank" do %>
                      <i class="fa fa-facebook"></i>
                    <% end %>
                  </div>
                </li>
                <li>
                  <div id="twitter">
                    <%= link_to "https://twitter.com/Workuper", target: "blank" do %>
                      <i class="fa fa-twitter"></i>
                    <% end %>
                  </div>
                </li>
                <li>
                  <div id="linkedin">
                    <%= link_to "https://www.linkedin.com/company/workup-trouvez-votre-job-idéal", target: "blank" do %>
                      <i class="fa fa-linkedin"></i>
                    <% end %>
                  </div>
                </li>
              </ul>
            </div>
          </div>
      </div>

      <div class="col-xs-9">
        <div id="right-side">
          <!-- ======= AFFICHAGE DES INITIATIVES POUR LES GRANDS ECRANS -->

          <div class="last_ressources hidden-xs" id="desktop-display">
            <% if params[:search] %>
              <p class="title first-title">Résultats de la recherche</p>
            <% elsif params[:subcategory] %>
              <p class="title first-title"> <%= @category_page %> | <%= params[:subcategory] %></p>
            <% else %>
              <p class="title first-title">Découvrez les solutions qui peuvent vous aider</p>
            <% end %>

            <div class="listing_ressources">
              <% if @ressources.blank? %>
                <p id="sorry">Il n'y a pas encore de résultats pour votre recherche, envoyez nous un petit message pour nous dire ce que vous recherchez :)</p>
              <% else %>
                <% @ressources.each do |ress| %>
                <div class="row white">
                  <div class="col-xs-2">
                    <ul class= "list-inline">
                      <li>
                        <%= image_tag ress.logo.url(:thumb), class: "logo" %>
                      </li>
                    </ul>
                  </div>
                  <div class="col-xs-9">
                    <h2 class= "sub-title"><%= link_to ress.title, ressource_path(ress.slug), target: "blank" %></h2>
                    <p class="content-title"><%= ress.description %></p>
                  </div>
                  <div class="col-xs-1">
                    <% if ress.price == "Gratuit" %>
                      <span class="price" id=<%= "#{ress.price}" %>>Gratuit</span>
                    <% elsif ress.price == "Promo" %>
                      <span class="price" id=<%= "#{ress.price}" %>>Promo</span>
                    <% else %>
                    <% end %>
                  </div>
                </div>
                <div class="alert alert-danger alert_connect_to_like" role="alert" style="display: none;">
                  Vous devez être connecté pour liker cette initiative, la commenter et l'enregistrer dans vos favoris :)
                </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>