<div class="visible-xs" id="mobile">
  <div id="banner">
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1>DÉCOUVREZ LES SOLUTIONS POUR TROUVER VOTRE JOB IDÉAL</h1>

        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 text-center">
          <%= render "search_mobile", id: "search-bar" %>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <!-- ========== LISTING DES INITIATIVES SUR MOBILE ======= -->
        <div id="bloc">
           <!-- render "event_banner" -->
          <div id="tag-filter" class="white-block">
            <p id="filter-title">Ou filtrer par thème</p>
            <ul class="list-inline">
              <% @tags.each do |tag| %>
                <li class="btn-grey">
                      <%= link_to tag, {controller: "ressources", tag: "#{tag}"}, id:"btn-grey" %>
                      (<%= Ressource.all.where(['tag ILIKE ?', "%#{tag}%"]).count %>)
                </li>
              <% end %>
            </ul>
          </div>
          <div class="last_ressources" id="mobile-display">
              <p class="title first-title">Découvrez les solutions qui peuvent vous aider</p>
            <div class="listing_ressources">
              <% if @ressources.blank? %>
                <p id="sorry" class="text-center">Il n'y a pas encore de résultats pour votre recherche, envoyez nous un petit message pour nous dire ce que vous recherchez :)</p>
              <% else %>
                <% @ressources.each do |ress| %>
                <div class="row item white">
                  <div class="col-xs-2">
                    <ul class= "list-inline">
                      <li>
                        <%= image_tag ress.logo.url(:thumb), class: "logo" %>
                      </li>
                    </ul>
                  </div>
                  <div class="col-xs-10">
                    <h2 class= "sub-title"><%= link_to ress.title, ressource_path(ress.slug), target: "blank" %></h2>
                    <p class="content-title"><%= ress.description %></p>
                  </div>
                </div>
                <div class="alert alert-danger alert_connect_to_like" role="alert" style="display: none;">
                  Vous devez être connecté pour liker cette initiative, la commenter et l'enregistrer dans vos favoris :)
                </div>
                <% end %>
              <% end %>
            </div>
          </div>
          <div id="newsletter" class="white-block text-center">
            <p class="left-title">Recevez nos bons plans 1 fois / semaine</p>
            <%= link_to "S'inscrire", "#", {:class => "btn btn-primary", "data-toggle" => "modal", "data-target" => "#myModal"} %>
          </div>
          <div id="reseaux-sociaux" class="white-block">
            <p class="left-title">Suivez-nous</p>
            <ul class="list-inline text-center">
              <li>
                <div id="facebook">
                  <%= link_to "https://www.facebook.com/workuper/", target: "blank" do %>
                    <i class="fa fa-facebook"></i>
                  <% end %>
                </div>
              </li>
              <li>
                <div id="twitter">
                  <%= link_to "https://twitter.com/Workuper", target: "blank" do %>
                    <i class="fa fa-twitter"></i>
                  <% end %>
                </div>
              </li>
              <li>
                <div id="linkedin">
                  <%= link_to "https://www.linkedin.com/company/workup-trouvez-votre-job-idéal", target: "blank" do %>
                    <i class="fa fa-linkedin"></i>
                  <% end %>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>