<%= simple_form_for(@ressource, html: { multipart: true }) do |ressource| %>

<!-- as: :select pour choix défilant
as: :check_boxes pour multiple choix -->
  <div class="white-block">
    <%= ressource.input :title, label: "Titre", placeholder: '55 caractères max' %>
  </div>
  <div class="white-block">
    <%= ressource.input :description, label: "Mini description", as: :text, placeholder: '155 caractères max' %>
  </div>
  <div class="white-block">
    <%= ressource.input :content, label: "Description détaillée", as: :bootsy %>
  </div>
  <div class="white-block">
    <%= ressource.input :category, collection: @categories, include_blank: false, label: "Catégorie" %>
    <%= ressource.input :subcategory, collection: @subcategories, include_blank: false, label: "Sous-Catégorie" %>
  </div>
  <div class="white-block">
    <%= ressource.input :witness, label: "Témoignage", placeholder: "J'ai rencontré mon futur patron lors d'un événement startup, merci !" %>
  </div>
  <div class="white-block">
    <%= ressource.input :website, label: "Site Web", placeholder: 'http://monsite.com/', as: :url %>
    <%= ressource.input :address, label: "Coordonnées", placeholder: 'Fondateur: John Doe - contact@monsite.com' %>
  </div>
  <div class="white-block">
    <%= ressource.input :seotitle, label: "Titre pour Google : 55 caractères max" %>
    <%= ressource.input :seodescription, label: "Description pour Google : 155 caractères max" %>
  </div>
  <div class="white-block">
    <%= ressource.label :logo, label: "Logo" %>
    <%= ressource.file_field :logo %>
    <%= ressource.label :picture, label: "Photo" %>
    <%= ressource.file_field :picture %>
    <%= ressource.submit(class: "btn btn-primary", value: "Valider") %>
  </div>
<% end %>


