<div class="btn-group" id="searchbar-mobile">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" id="looking_for">Voir les catégories</button>
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li>
      <%= link_to t(".top_call_to_action", default: "Tout"), ressources_path %>
    </li>
    <li>
      <%= link_to @categories[0], {controller: "ressources", action: "category", category: @categories[0] } %>
    </li>
    <li>
      <%= link_to @categories[1],  {controller: "ressources", action: "category", category: @categories[1] } %>
    </li>
    <li>
      <%= link_to @categories[2],  {controller: "ressources", action: "category", category: @categories[2] } %>
    </li>
    <li>
      <%= link_to @categories[3],  {controller: "ressources", action: "category", category: @categories[3] } %>
    </li>
    <li>
      <%= link_to @categories[4],  {controller: "ressources", action: "category", category: @categories[4] } %>
    </li>
  </ul>
  <%= form_tag(category_path, method: "get", action: "index", id: "search-form") do %>
      <div class="form-group hidden">
      <%= text_field_tag :category, @category_page, class: "form hidden" %>
    </div>
    <div class="form-group">
        <%= text_field_tag :search, params[:search], placeholder: "Mots Clefs", class: "form text-long" %>
      </div>
        <%= submit_tag("Chercher", class: "btn btn-primary") %>
    <% end %>
</div>