<% content_for(:title) do %>
  <% "#{@category_page} | WorkUp" %>
<% end %>

<%content_for(:meta_description) do %>
  <% if @category_page == @categories[0] %>
    Les meilleurs événements emploi, sites de recrutement, coach, conseils d'experts pour trouver un job qui vous plaît
  <% elsif @category_page == @categories[1] %>
    Les meilleures formations, témoignages, conseils, événements pour changer de métier sereinement
  <% elsif @category_page == @categories[2] %>
    Les meilleurs conseils pratiques et outils pour trouver une entreprise où vous pourrez enfin vous épanouir
  <% elsif @category_page == @categories[3] %>
    Des conseils, rencontres, outils pratiques et événements pour créer sa boite ou devenir indépendant simplement
  <% elsif @category_page == @categories[4] %>
    Des témoignages d'entreprises et de salariés, des conseils, des événements et plus encore pour intraprendre facilement
  <% elsif @category_page == @categories[5] %>
    Nos coup de coeur pour être heureux au travail et dans sa vie en général !
  <% else %>
    Osez passer à l'action avec nos outils, conseils, témoignages, événements pour trouver un job qui vous rend heureux(se)
  <% end %>
<% end %>

<!-- BANNIERE POUR LES GRANDS ECRANS -->
<div class="container banner hidden-xs">
  <div class="row">
    <div class="col-xs-12">
      <div id="banner-image" style="background-image: url(<%= asset_path(@category_page.split.join.downcase.gsub("é", "e") + ".png") %>); background-repeat: repeat;">
      </div>
    </div>
  </div>
</div>

<!-- BANNIERE POUR LES PETITS ECRANS -->
<div class="container banner-little-screen visible-xs">
  <div class="row">
    <div class="col-xs-12">
      <div id="banner-image" style="background-image: url(<%= asset_path(@category_page.split.join.downcase.gsub("é", "e") + ".png") %>); background-repeat: repeat;">
      </div>
    </div>
  </div>
</div>

<div class="content-banner">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-3 col-sm-9 col-md-offset-2 col-md-10 ">
        <div id="category-description" class="padded text-center">

          <% if @category_page == @categories[0] %>
            <p><%= @categories[0] %></p>
            <h1>Les meilleurs sites de recrutement, structures d'accompagnement, événements dédiés à l'emploi, conseils d'experts pour trouver un job qui vous rend heureux</h1>
          <% elsif @category_page == @categories[1] %>
            <p><%= @categories[1] %></p>
            <h1>Les meilleures formations, témoignages, conseils d'experts, événements pour changer de métier sereinement</h1>
          <% elsif @category_page == @categories[2] %>
            <p><%= @categories[2] %></p>
            <h1>Les meilleurs conseils pratiques, sites de recrutement, événements, initiatives pour trouver une entreprise où vous pourrez vous épanouir</h1>
          <% elsif @category_page == @categories[3] %>
            <p><%= @categories[3] %></p>
            <h1>Les meilleurs conseils, outils pratiques, structures d'accompagnement, événements pour créer sa boite ou devenir indépendant tout simplement</h1>
          <% elsif @category_page == @categories[4] %>
            <p><%= @categories[4] %></p>
            <h1>Les meilleurs témoignages d'entreprises et de salariés, des conseils, des événements et plus encore pour intraprendre facilement</h1>
          <% elsif @category_page == @categories[5] %>
            <p><%= @categories[5] %></p>
            <h1>Nos coups de coeurs, bons plans, astuces pour être heureux au travail et dans sa vie en général !</h1>
          <% else %>
          <% end %>
          <div class="row">
            <div class="col-xs-12 hidden-sm hidden-xs">
              <ul class= "list-inline">
                <% @subcategories.each_with_index do |subcat, index| %>
                    <% if @category_page == @categories[3] %>
                      <% if subcat == "Postuler" %>
                        <% subcat = "Recruter" %>
                      <% end %>
                    <% end %>
                  <li>
                      <%= link_to "#{index + 1}. #{subcat}", {controller: "ressources", action: "category", category: "#{@category_page}", subcategory: "#{subcat}"} , class: "btn btn-transparent"  %>
                  </li>
                <% end %>
<!--                 <li> image_tag "happy.png", id:"happy" %></li>
 -->              </ul>
              <ul class= "list-inline">
                <li><%= image_tag "step.png", id:"step-arrow1" %></li>
                <li><p id= "step-selection">A quelle étape en êtes-vous ?</p></li>
                <li><%= image_tag "step.png", id:"step-arrow2" %></li>
              </ul>
            </div>

            <!-- BANNIERE PETIT ECRAN -->
            <div class="col-xs-12 visible-xs visible-sm">
              <div class="btn-group">
                <button type="button" class="btn btn-transparent dropdown-toggle" data-toggle="dropdown" id="looking_for">A quelle étape en êtes-vous ?</button>
                <button type="button" class="btn btn-transparent dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="caret"></span>
                  <span class="sr-only">Toggle Dropdown</span>
                </button>
                <ul class="dropdown-menu">
                  <% @subcategories.each_with_index do |subcat, index| %>
                  <% if @category_page == @categories[3] %>
                    <% if subcat == "Postuler" %>
                      <% subcat = "Recruter" %>
                    <% end %>
                  <% end %>
                    <li>
                      <%= link_to "#{index + 1}.  #{subcat}", {controller: "ressources", action: "category", category: "#{@category_page}", subcategory: "#{subcat}"}  %>
                    </li>
                  <% end %>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- MENU COTE POUR LES GRANDS ET MOYENS ECRANS -->
<div class="sidebar hidden-xs">
  <%= render "ressource_sidebar_simple" %>
</div>

<!-- CONTENU BANNIERE, BARRE DE RECHERCHE ET LISTE DES ARTICLES  -->
<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-offset-3 col-sm-9 col-md-offset-2 col-md-10">
      <div class="content">


        <!-- ======= AFFICHAGE DES INITIATIVES POUR LES GRANDS ECRANS -->

        <div class="last_ressources hidden-xs" id="desktop-display">
          <% if params[:search] %>
            <p class="title first-title">Résultats de la recherche</p>
          <% elsif params[:subcategory] %>
            <p class="title first-title"> <%= @category_page %> | <%= params[:subcategory] %></p>
          <% else %>
            <p class="title first-title">Les nouvelles découvertes pour <%= @category_page %></p>
          <% end %>
          <!-- ==== ETAPES -->
          <%= render "step" %>
          <!-- ==== EVENT -->

          <!-- ====== NL -->
          <div class="hidden-xs">
            <%= render "index_nl_desktop" %>
          </div>

          <div class="listing_ressources">
            <% if @ressources.blank? %>
              <p id="sorry">Il n'y a pas encore de résultats pour votre recherche, envoyez nous un petit message pour nous dire ce que vous recherchez :)</p>
            <% else %>
              <% @ressources.each do |ress| %>
              <div class="row white">
                <div class="col-xs-2">
                  <ul class= "list-inline">
                    <!-- <li>
                      <div class="votes">
                        <% if user_signed_in? %>
                          <% if current_user.liked? ress %>
                            <%= link_to dislike_ressource_path(ress), method: :get, remote: true, class: "dislike_ressource btn-vote" do %>
                              <i class="fa fa-heart"></i>
                            <% end %>
                          <% else %>
                            <%= link_to like_ressource_path(ress), method: :get, remote: true, class: "like_ressource btn-vote" do %>
                              <i class="fa fa-heart-o"></i>
                            <% end %>
                          <% end %>
                        <% else %>
                          <%= link_to like_ressource_path(ress), method: :get, remote: true, class: "like_ressource btn-vote connect_to_like" do %>
                            <i class="fa fa-heart-o"></i>
                          <% end %>
                        <% end %>
                      </div>
                      <p class="vote_count"><%= ress.score %></p>
                    </li>
                    <li>
                      <div class="comments">
                        <i class="fa fa-comment-o"></i>
                        <p><%= link_to ress.slug, ressource_path(ress.slug) +'#disqus_thread', :"data-disqus-identifer" => ress.id %></p>
                      </div>
                    </li> -->
                    <li>
                      <%= image_tag ress.logo.url(:thumb), class: "logo" %>
                    </li>
                  </ul>
                </div>
                <div class="col-xs-10">
                  <h2 class= "sub-title"><%= link_to ress.title, ressource_path(ress.slug) %></h2>
                  <p class="content-title"><%= ress.description %></p>
                </div>
              </div>
              <div class="alert alert-danger alert_connect_to_like" role="alert" style="display: none;">
                Vous devez être connecté pour liker cette initiative, la commenter et l'enregistrer dans vos favoris :)
              </div>
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

      <!-- AFFICHAGE DES INTIATIVES POUR LES PETITS ECRANS -->
    <div class="col-xs-offset-1 col-xs-10">
      <div class="content">
        <div class="visible-xs">
          <div class="last_ressources" id="mobile-display">
            <% if params[:search] %>
              <p class="title first-title">Résultats de la recherche</p>
            <% elsif params[:subcategory] %>
              <p class="title first-title"> <%= @category_page %> | <%= params[:subcategory] %></p>
            <% else %>
              <p class="title first-title">Les nouvelles découvertes pour <%= @category_page %></p>
            <% end %>

            <!-- ==== ETAPES -->
            <%= render "step" %>
            <!-- ==== EVENT -->

            <!-- ====== NL -->
            <div class="visible-xs">
              <%= render "index_nl_mobile" %>
            </div>
            <div class="listing_ressources">
              <% if @ressources.blank? %>
                <p id="sorry">Il n'y a pas encore de résultats pour votre recherche, envoyez nous un petit message pour nous dire ce que vous recherchez :)</p>
              <% else %>
                <% @ressources.each do |ress| %>
                <div class="row white">
                  <div class="col-xs-3">
                    <ul class= "list-inline">
                      <!-- <li>
                        <div class="votes">
                          <% if user_signed_in? %>
                            <% if current_user.liked? ress %>
                              <%= link_to dislike_ressource_path(ress), method: :get, remote: true, class: "dislike_ressource btn-vote" do %>
                                <i class="fa fa-heart"></i>
                              <% end %>
                            <% else %>
                              <%= link_to like_ressource_path(ress), method: :get, remote: true, class: "like_ressource btn-vote" do %>
                                <i class="fa fa-heart-o"></i>
                              <% end %>
                            <% end %>
                          <% else %>
                            <%= link_to like_ressource_path(ress), method: :get, remote: true, class: "like_ressource btn-vote connect_to_like" do %>
                              <i class="fa fa-heart-o"></i>
                            <% end %>
                          <% end %>
                        </div>
                      <p class="vote_count"><%= ress.score %></p>
                      </li> -->
                      <li>
                        <%= image_tag ress.logo.url(:thumb), class: "logo" %>
                      </li>
                    </ul>
                  </div>
                  <div class="col-xs-9">
                    <h2 class= "sub-title"><%= link_to ress.title, ressource_path(ress.slug) %></h2>
                    <p class="content-title"><%= ress.description %></p>
                  </div>
                </div>
                <div class="alert alert-danger alert_connect_to_like" role="alert" style="display: none;">
                  Vous devez être connecté pour liker cette initiative, la commenter et l'enregistrer dans vos favoris :)
                </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- DISQUS COUNT -->
<script id="dsq-count-scr" src="//workuper.disqus.com/count.js" async></script>
<script type="text/javascript">
 var disqus_shortname = 'workuper';
</script>