<% content_for(:title) do %>
  Trouvez votre bonheur au travail | WorkUp
<% end %>

<%content_for(:meta_description) do %>
  Tous nos conseils et outils pour chercher un job, changer de métier, changer de boite ou entreprendre simplement
<% end %>

<%content_for(:meta_image) do %>
  workup-bonheur-au-travail.png
<% end %>


<!-- MENU COTE POUR LES GRANDS ET MOYENS ECRANS -->
<div class="sidebar hidden-xs">
  <%= render "ressource_sidebar_simple" %>
</div>

<!-- SOUS MENU TOP POUR LES PETITS ECRANS -->
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="sidebar visible-xs">
        <%= render "second_nav" %>
      </div>
    </div>
  </div>
</div>

<!-- CONTENU BANNIERE, BARRE DE RECHERCHE ET LISTE DES ARTICLES -->
<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-offset-3 col-sm-9 col-md-offset-2 col-md-10">
      <div class="content">
        <p class="title first-title love">Nos Coups de Coeur</p>

          <div id="discover-favorites">
            <!-- <div class="container"> -->
              <!-- <div class="row"> -->
                <!-- <div class="col-xs-12"> -->
                  <div class="owl-carousel-big">

                    <% Ressource.where(category: @categories[5]).order('created_at DESC').limit(6).each do |ressource| %>
                      <div>
                        <div class="item">
                          <div class="img-ress" style="background: url(<%= ressource.picture.url %>); background-repeat:no-repeat; background-size:cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; -webkit-filter: brightness(100%); -moz-filter: brightness(100%);">
                          </div>
                          <%= link_to ressource_path(ressource.id), {controller: "ressources", action: "show" } do %>
                            <h2><%= ressource.title %></h2>
                            <p><%= ressource.description %></p>
                          <% end %>
                        </div>
                      </div>
                    <% end %>
                  </div>
                <!-- </div> -->
              <!-- </div> -->
            <!-- </div> -->
          </div>
        </div>

<!--         <div id="bonplan" class="padded text-center">

          <div id="big-screen" class = "hidden-xs">
            <h1>Des événements, des formations, des structures d'accompagnement,<br> des conseils d'experts et bien plus encore pour vous aider à<br>  <span style="font-family: bebas_neueregular; font-size: 50px;">trouver le job de vos reves</span></h1>
          </div>

          <div id= "little-screen" class= "visible-xs">
            <h1>Des événements, des formations, des structures d'accompagnement,<br> des conseils d'experts et bien plus encore pour vous aider à<br>  <span style="font-family: bebas_neueregular; font-size: 30px;">trouver le job de vos reves</span></h1>
             render "search_mobile" %>
          </div>
        </div> -->

<!--         <div class="searchbar hidden-xs">
           render "search" %>
        </div> -->

        <div class="col-xs-12">
          <div class="last_ressources">
            <% if params[:search] %>
              <p class="title first-title">Résultats de la recherche</p>
            <% else %>
              <p class="title first-title">Les nouvelles découvertes</p>
            <% end %>
            <div class="listing_ressources">
              <% if @ressources.blank? %>
                <p id="sorry">Il n'y a pas encore de résultats pour votre recherche, envoyez nous un petit message pour nous dire ce que vous recherchez :)</p>
              <% else %>
                <% @ressources.each do |ress| %>
                <div class="row item">
                  <div class="col-xs-2">
                    <ul class= "list-inline">
                      <li>
                        <div class="votes">
                          <% if user_signed_in? %>
                            <% if current_user.liked? ress %>
                              <%= link_to dislike_ressource_path(ress), method: :put, class: "dislike_ressource btn-vote" do %>
                                <i class="fa fa-heart"></i>
                              <% end %>
                            <% else %>
                              <%= link_to like_ressource_path(ress), method: :put, class: "like_ressource btn-vote" do %>
                                <i class="fa fa-heart-o"></i>
                              <% end %>
                            <% end %>
                          <% else %>
                            <%= link_to like_ressource_path(ress), method: :put, class: "like_ressource btn-vote" do %>
                              <i class="fa fa-heart-o"></i>
                            <% end %>
                          <% end %>
                          <p class="vote_count"><%= ress.score %></p>
                        </div>
                      </li>
                      <li>
                        <div class="comments">
                          <i class="fa fa-comment-o"></i>
                          <p><%= link_to ress.slug, ressource_path(ress.slug) +'#disqus_thread' %></p>
                        </div>
                      </li>
                      <li>
                        <%= image_tag ress.logo.url(:thumb), class: "logo" %>
                      </li>
                    </ul>
                  </div>
                  <div class="col-xs-10">
                    <h2 class= "sub-title"><%= link_to ress.title, ressource_path(ress.slug)%></h2>
                    <p class="content-title"><%= ress.description %>.</p>
                  </div>
                </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>


