<% content_for(:title) do %>
  Trouvez votre bonheur au travail | WorkUp
<% end %>

<%content_for(:meta_description) do %>
  Tous nos conseils et outils pour chercher un job, changer de métier, changer de boite ou entreprendre simplement
<% end %>

<%content_for(:meta_image) do %>
  workup-bonheur-au-travail.png
<% end %>


<!-- MENU COTE POUR LES GRANDS ET MOYENS ECRANS -->
<div class="sidebar hidden-xs">
  <%= render "ressource_sidebar_simple" %>
</div>

<!-- SOUS MENU TOP POUR LES PETITS ECRANS -->
<!-- <div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="sidebar visible-xs">
        render "second_nav" %>
      </div>
    </div>
  </div>
</div> -->

<!-- CONTENU BANNIERE, BARRE DE RECHERCHE ET LISTE DES ARTICLES -->
<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-offset-3 col-sm-9 col-md-offset-2 col-md-10">
      <div class="content">
        <div id="img-mobile" class="visible-xs"></div>
          <div id="discover-favorites">
            <div class="owl-carousel-big">
              <% Ressource.all.order('created_at DESC').each do |ressource| %>
                <% if eval(ressource.category).include?("Coup de Coeur") %>
                  <div>
                    <div class="item">
                      <div class="img-ress" style="background: url(<%= ressource.picture.url %>); background-repeat:no-repeat; background-size:cover; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; -webkit-filter: brightness(100%); -moz-filter: brightness(100%);">
                      </div>
                      <%= link_to ressource_path(ressource.id), {controller: "ressources", action: "show" } do %>
                        <h2><%= ressource.title %></h2>
                        <p><%= ressource.description %></p>
                      <% end %>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
        <!-- ========= RECHERCHE SUR DESKTOP ========== -->
        <div class="searchbar hidden-xs white">
          <%= render "search" %>
        </div>

        <!-- ========== LISTING DES INITIATIVES SUR DESKTOP ======= -->
        <div class="hidden-xs">
          <div class="last_ressources">
            <% if params[:search] %>
              <p class="title first-title">Résultats de la recherche</p>
            <% else %>
              <p class="title first-title">Les nouvelles découvertes</p>
            <% end %>
            <div class="listing_ressources">
              <% if @ressources.blank? %>
                <p id="sorry">Il n'y a pas encore de résultats pour votre recherche, envoyez nous un petit message pour nous dire ce que vous recherchez :)</p>
              <% else %>
                <% @ressources.order('created_at DESC').limit(15).each do |ress| %>
                <div class="row item white">
                  <div class="col-xs-2">
                    <ul class= "list-inline">
                      <li>
                        <div class="votes">
                          <% if user_signed_in? %>
                            <% if current_user.liked? ress %>
                              <%= link_to dislike_ressource_path(ress), method: :get, remote: true, class: "dislike_ressource btn-vote" do %>
                                <i class="fa fa-heart"></i>
                              <% end %>
                            <% else %>
                              <%= link_to like_ressource_path(ress), method: :get, remote: true, class: "like_ressource btn-vote" do %>
                                <i class="fa fa-heart-o"></i>
                              <% end %>
                            <% end %>
                          <% else %>
                            <%= link_to like_ressource_path(ress), method: :get, remote: true, class: "like_ressource btn-vote connect_to_like" do %>
                              <i class="fa fa-heart-o"></i>
                            <% end %>
                          <% end %>
                        </div>
                        <p class="vote_count"><%= ress.score %></p>
                      </li>
                      <li>
                        <div class="comments">
                          <i class="fa fa-comment-o"></i>
                          <p><%= link_to ress.slug, ressource_path(ress.slug) +'#disqus_thread', :"data-disqus-identifer" => ress.id %></p>
                        </div>
                      </li>
                      <li>
                        <%= image_tag ress.logo.url(:thumb), class: "logo" %>
                      </li>
                    </ul>
                  </div>
                  <div class="col-xs-10">
                    <h2 class= "sub-title"><%= link_to ress.title, ressource_path(ress.slug)%></h2>
                    <p class="content-title"><%= ress.description %></p>
                  </div>
                </div>
                <div class="alert alert-danger alert_connect_to_like" role="alert" style="display: none;">
                  Vous devez être connecté pour liker cette initiative, la commenter et l'enregistrer dans vos favoris :)
                </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-offset-1 col-xs-10">
      <div class="content">
        <!-- ======== RECHERCHE POUR LES PETITS ECRANS ========= -->
        <div id="mobile-search" class= "visible-xs ">
          <%= render "search_mobile" %>
        </div>

        <!-- ========== LISTING DES INITIATIVES SUR MOBILE ======= -->
        <div class="visible-xs">
          <div class="last_ressources" id="mobile-display">
            <% if params[:search] %>
              <p class="title first-title">Résultats de la recherche</p>
            <% else %>
              <p class="title first-title">Les nouvelles découvertes</p>
            <% end %>
            <div class="listing_ressources">
              <% if @ressources.blank? %>
                <p id="sorry">Il n'y a pas encore de résultats pour votre recherche, envoyez nous un petit message pour nous dire ce que vous recherchez :)</p>
              <% else %>
                <% @ressources.order('created_at DESC').limit(15).each do |ress| %>
                <div class="row item white">
                  <div class="col-xs-3">
                    <ul class= "list-inline">
                      <li>
                        <div class="votes">
                          <% if user_signed_in? %>
                            <% if current_user.liked? ress %>
                              <%= link_to dislike_ressource_path(ress), method: :get, remote: true, class: "dislike_ressource btn-vote" do %>
                                <i class="fa fa-heart"></i>
                              <% end %>
                            <% else %>
                              <%= link_to like_ressource_path(ress), method: :get, remote: true, class: "like_ressource btn-vote" do %>
                                <i class="fa fa-heart-o"></i>
                              <% end %>
                            <% end %>
                          <% else %>
                            <%= link_to like_ressource_path(ress), method: :get, remote: true, class: "like_ressource btn-vote connect_to_like" do %>
                              <i class="fa fa-heart-o"></i>
                            <% end %>
                          <% end %>
                        </div>
                        <p class="vote_count"><%= ress.score %></p>
                      </li>
                      <li>
                        <div class="comments">
                          <i class="fa fa-comment-o"></i>
                          <p><%= link_to ress.slug, ressource_path(ress.slug) +'#disqus_thread', :"data-disqus-identifer" => ress.id %></p>
                        </div>
                      </li>
                      <li>
                        <%= image_tag ress.logo.url(:thumb), class: "logo" %>
                      </li>
                    </ul>
                  </div>
                  <div class="col-xs-9">
                    <h2 class= "sub-title"><%= link_to ress.title, ressource_path(ress.slug)%></h2>
                    <p class="content-title"><%= ress.description %></p>
                  </div>
                </div>
                <div class="alert alert-danger alert_connect_to_like" role="alert" style="display: none;">
                  Vous devez être connecté pour liker cette initiative, la commenter et l'enregistrer dans vos favoris :)
                </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<!-- DISQUS COUNT -->
<script id="dsq-count-scr" src="//workuper.disqus.com/count.js" async></script>
<script type="text/javascript">
 var disqus_shortname = 'workuper';
</script>


