<% content_for(:title) do %>
  <% @ressource.seotitle %>
<% end %>

<%content_for(:meta_description) do %>
<% @ressource.seodescription %>
<% end %>

<%content_for(:meta_image) do %>
  <% @ressource.picture.url %>
<% end %>

<!-- BANNIERE POUR LES GRANDS ECRANS -->
<div class="container banner hidden-xs">
  <div class="row">
    <div class="col-xs-12">
      <div id="banner-image" style="background: url(<%= @ressource.picture.url %>); background-repeat:no-repeat; background-size:cover; -webkit-background-size: cover;
            -moz-background-size: cover; -o-background-size: cover; -webkit-filter: brightness(50%); -moz-filter: brightness(50%);">
      </div>
    </div>
  </div>
</div>

<!-- BANNIERE POUR LES PETITS ECRANS -->
<div class="container banner-little-screen visible-xs">
  <div class="row">
    <div class="col-xs-12">
      <div id="banner-image" style="background: url(<%= @ressource.picture.url %>); background-repeat:no-repeat; background-size:cover; -webkit-background-size: cover;
            -moz-background-size: cover; -o-background-size: cover; -webkit-filter: brightness(50%); -moz-filter: brightness(50%);">
      </div>
    </div>
  </div>
</div>

<div class="content-banner">
  <div class="publishing-date">
    <%= @ressource.created_at.strftime("%d #{@mois[@ressource.created_at.strftime("%m").to_i - 1]} %Y") %>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-offset-3 col-sm-9 col-md-offset-2 col-md-10 ">
        <% category_list = eval(@ressource.category) - [""] %>
        <% category_list.map do |category| %>
          <div class= "btn btn-blue zindex hidden-xs">
            <% if (category != "") %>
              <%= category %>
            <% end %>
          </div>
        <% end %>
        <div class= "btn btn-primary hidden-xs"><%= @ressource.subcategory %></div>
        <% if user_signed_in?  %>
          <% if current_user.admin? %>
          <div class="btn btn-action"><%= link_to "Editer", edit_ressource_path(@ressource.id) %></div>
            <div class="btn btn-action"><%= link_to "Supprimer", ressource_path(@ressource),
              method: :delete, data: { confirm: "Vous êtes sûr de vouloir supprimer cet article ?" } %></div>
          <% end %>
        <% end %>
        <div class="votes">
          <% if user_signed_in? %>
            <% if current_user.liked? @ressource %>
              <%= link_to dislike_ressource_path(@ressource), method: :get, remote: true, class: "dislike_ressource btn-vote" do %>
                <i class="fa fa-heart"></i>
              <% end %>
            <% else %>
              <%= link_to like_ressource_path(@ressource), method: :get, remote: true, class: "like_ressource btn-vote" do %>
                <i class="fa fa-heart-o"></i>
              <% end %>
            <% end %>
          <% else %>
            <%= link_to like_ressource_path(@ressource), method: :get, remote: true, class: "like_ressource btn-vote connect_to_like" do %>
              <i class="fa fa-heart-o"></i>
            <% end %>
          <% end %>
        </div>
        <div class="alert alert-danger alert_connect_to_like" role="alert" style="display: none;">
          Vous devez être connecté pour liker cette initiative, la commenter et l'enregistrer dans vos favoris :)
        </div>
        <h1><%= @ressource.title %></h1>
        <div class="writer-info hidden-xs">
          <p>
            <% if @ressource.user.avatar? %>
              <%= image_tag(@ressource.user.avatar.url(:medium), class: "img-circle") %>
            <% else %>
              <%=  image_tag "eight_horns.png", class: "img-circle" %>
            <% end %>
            Partagé par
            <% if @ressource.user.name? %>
              <%= @ressource.user.name %>
            <% else %>
              <%= @ressource.user.first_name + " " + @ressource.user.last_name %>
            <% end %>
          </p>
        </div>

      </div>
    </div>
  </div>
</div>


<!-- MENU COTE POUR LES GRANDS ET MOYENS ECRANS -->
<div class="sidebar hidden-xs">
  <%= render "ressource_sidebar_simple" %>
</div>



<!-- CONTENU BANNIERE, BARRE DE RECHERCHE ET LISTE DES ARTICLES -->
<div class="container">
  <div class="row">

    <div class="col-xs-12 col-sm-offset-3 col-sm-9 col-md-offset-2 col-md-10">

      <div class="content">

        <div class="content-text">
          <strong><h2 class="title-description"><%= @ressource.description %></h2></strong>
          <p><%= sanitize @ressource.content %></p>
          <%= (image_tag @ressource.picturecontent1.url, class: "img-responsive" ) if (@ressource.picturecontent1?) %>
          <p><%= sanitize @ressource.content2 %></p>
          <%= (image_tag @ressource.picturecontent2.url, class: "img-responsive" ) if (@ressource.picturecontent2?) %>
          <p><%= sanitize @ressource.content3 %></p>
        </div>
<!--         <p class= "witness">
          "   <%= @ressource.witness %>   "
        </p> -->

        <!-- Go to www.addthis.com/dashboard to customize your tools -->

        <div class="addthis_sharing_toolbox" id="share"></div>
        <div class="more-info">
          <% if @ressource.website? %>
            <p>
              <b>Site internet :</b> <%= link_to @ressource.website, @ressource.website, target: "blank" %>
            </p>
          <% end %>
          <% if @ressource.address? %>
            <p>
              <b>Contact :</b> <%= @ressource.address %>
            </p>
          <% end %>
          <p>
            <% if @ressource.score > 0 %>
              <b>Ils / elles recommandent :</b>
              <div class="voter-avatar" style="">
                <% @list_of_voters.each do |voter| %>
                  <% if voter.liked?(@ressource) %>
                    <button type="button" id="info-avatar" data-toggle="tooltip" data-placement="top" title="<% if voter.name? %><%= voter.name.capitalize %><% end %><% if voter.description? %> : <%= voter.description %><% end %>">
                      <% if voter.avatar? %>
                        <%= image_tag voter.avatar.url(:thumb), class: "img-circle" %>
                      <% else %>
                        <%= image_tag "eight_horns.png", class: "img-circle" %>
                      <% end %>
                    </button>
                  <% end %>
                <% end %>
              </div>
            <% end %>
          </p>
        </div>


        <% if user_signed_in? %>
          <div class="add-comment">
            <div class="footer-header">Tous les témoignages et commentaires</div>
            <div id="disqus-account">
              <p>
                Vous pouvez commenter cet article même si vous ne possédez pas de compte "Disqus" :
                Cliquez sur "or sign up with Disqus", entrez votre prénom et le tour est joué ! Vous pouvez aussi créer un compte Disqus pour suivre les commentaires.
              </p>
            </div>
            <div id="disqus_thread"></div>
            <script>
                /**
                DISQUS
                 *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                 *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
                 */

                var disqus_config = function () {
                    this.page.identifier = '<%= @ressource.id %>'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
                };

                (function() {  // DON'T EDIT BELOW THIS LINE
                    var d = document, s = d.createElement('script');

                    s.src = '//workuper.disqus.com/embed.js';
                    s.async = true;
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
          </div>
        <% else %>
          <p class="connect-to-comment">
            Vous devez être
            <%= link_to t(".sign_in", default: "connecté"), new_user_session_path %>
            pour commenter et voir les commentaires de cet article :)
          </p>
        <% end %>
      </div>
    </div>
  </div>
</div>


