<% unless comment.comment.blank? %>
  <div class="comment">
    <div class="user">
      <% if User.find(comment.user_id).picture.blank? %>
        <%= image_tag "eight_horns.png", class: "img img-circle" %>
      <% else %>
        <%= image_tag User.find(comment.user_id).picture, class: "img img-circle" %>
      <% end %>
      <% if comment.user.name? %>
        <%= comment.user.name.capitalize %>
      <% else %>
        <%= comment.user.first_name + " " + comment.user.last_name %>
      <% end %>
    </div>
    <div class="writer-info">
      <p class= "date"><%= comment.created_at.strftime("%d #{@mois[comment.created_at.strftime("%m").to_i - 1]} %Y") %>
      <% if (comment.user_id == current_user.id) || current_user.admin? %>
        <!-- link_to "Modifier", edit_ressource_comment_path(comment, ressource_id: @ressource.id) %> / -->
        /
        <%= link_to "Supprimer", ressource_comment_path(comment, ressource_id: @ressource.id), method: :delete, data: { confirm: 'Vous êtes sûr ?' } %>
      <% end %>
      </p>
    </div>
    <div class="content-comment">
      <%= comment.comment %>
    </div>
  </div>
<% end %>
