<% content_for(:title) do %>
  <% @article.seo_title %>
<% end %>

<% content_for(:meta_description) do %>
<% @article.seo_description %>
<% end %>

<% content_for :meta_image, @article.picture.url %>

<div id="article-body">
  <div class="container banner">
    <div class="row">
      <div class="col-xs-12">
        <div id="banner-image" style="background: url(<%= @article.picture.url %>); background-repeat:no-repeat; background-size:cover; -webkit-background-size: cover;
              -moz-background-size: cover; -o-background-size: cover;">
        </div>
        <div class="content-banner">
          <div class="publishing-date hidden-xs">
            <%= @article.created_at.strftime("%d #{@mois[@article.created_at.strftime("%m").to_i - 1]} %Y") %>
          </div>
          <% @category_list.map do |category| %>
            <div class= "btn btn-blue zindex">
              <% if (category != "") %>
                <%= category %>
              <% end %>
            </div>
          <% end %>
          <% if user_signed_in?  %>
            <% if current_user.admin? %>
            <div class="btn btn-action"><%= link_to "Editer", edit_article_path(@article.id) %></div>
              <div class="btn btn-action"><%= link_to "Supprimer", article_path(@article),
                method: :delete, data: { confirm: "Vous êtes sûr de vouloir supprimer cet article ?" } %></div>
            <% end %>
          <% end %>
          <h1 class="hidden-xs" id="title-desktop"><%= @article.title %></h1>
          <h1 class="visible-xs" id="title-mobile"><%= @article.title %></h1>
        </div>
      </div>
    </div>
  </div>

  <!-- CONTENU DE L'ARTICLE -->
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-9">

        <div id="left-side">

          <div class="content-text">
            <p><%= sanitize @article.content %></p>
          </div>

          <!-- Go to www.addthis.com/dashboard to customize your tools -->
          <div id="like-this-article">
            <p id="like-title">Vous avez aimé ?</p>
            <p class="like-that"> Partagez l'article à vos ami(e)s !</p>
            <div class="addthis_sharing_toolbox" id="share"></div>
          </div>
        </div>
        <div class="row writer-info white">
          <div class="col-xs-3">
            <% if @article.user.avatar? %>
              <%= image_tag(@article.user.avatar.url(:medium), class: "img-circle") %>
            <% else %>
              <%=  image_tag "eight_horns.png", class: "img-circle" %>
            <% end %>
          </div>
          <div class="col-xs-9">
            <p class="name">
              Rédigé par
              <% if @article.user.name? %>
                <%= @article.user.name %>
              <% else %>
                <%= @article.user.first_name + " " + @article.user.last_name %>
              <% end %>
            </p>
            <p class="description">
              <% if @article.user.description? %>
                <%= @article.user.description %>
              <% end %>
            </p>
          </div>
        </div>
      </div>

      <!-- DESKTOP -->
      <div class="col-xs-3 hidden-xs">
        <div id="right-side">
          <div id="solutions" class="white-block">
            <p class="right-title">Nos découvertes</p>
            <div class="listing_ressources">
              <% @ressources = Ressource.order("created_at desc").limit(6) %>
              <% @ressources.each do |ress| %>
                <%= link_to ressource_path(ress.slug), target: "blank" do %>
                  <%= image_tag(ress.picture) %>
                  <p class= "sub-title"><%= ress.title %></p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <!-- MOBILE -->
      <div class="col-xs-offset-1 col-xs-10 visible-xs">
        <div id="right-side-mobile">
          <div id="solutions" class="white-block">
            <p class="right-title">Nos découvertes</p>
            <div class="listing_ressources">
              <% @ressources = Ressource.order("created_at desc").limit(3) %>
              <% @ressources.each do |ress| %>
                <%= link_to ressource_path(ress.slug), target: "blank" do %>
                  <%= image_tag(ress.picture) %>
                  <p class= "sub-title"><%= ress.title %></p>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="listing_articles">
  <div class="container">
    <div class="row">
      <p class="other-articles">Vous pourrez aussi aimer</p>
      <% @articles = Article.where.not(id: @article.id).limit(3).order("RANDOM()") %>
      <% @articles.each do |article| %>
        <div class="col-md-4 banner">
          <%= link_to article_path(article.slug), target: "blank" do %>
          <div id="banner-image" style="background: url(<%= article.picture.url %>); background-repeat:no-repeat; background-size:cover; -webkit-background-size: cover;
                -moz-background-size: cover; -o-background-size: cover;">
          </div>
          <div class="content-banner">
            <h2 class= "sub-title"><%= article.title %></h2>
          </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "pages/nl_reseaux_sociaux_blog" %>

<%= render "pages/footer" %>
