<div class="col-md-offset-2 col-md-8">
  <% if (@my_events != nil) %>
    <% @my_events.order(date: :asc, time: :asc).each do |event| %>
      <div class="row white event-item">
        <div class="col-xs-3 col-sm-2">
          <p class="time"><%= l(event.date, format: '%d %B').capitalize %></p>
        </div>
        <div class="col-xs-9 col-sm-10">
          <h2 class="sub-title"><%= link_to_if (event.status == "approved"), event.title, event_path(event), target: "blank" %></h2>
          <span class="status-btn"><%= event.status == "draft" ? "En cours de vérification" : "En ligne" %></span>
          <span class="admin-btn"><%= link_to "Editer", edit_event_path(event) %></span>
          <span class="admin-btn">
            <%= link_to "Supprimer", event_path(event),
            method: :delete, data: { confirm: "Vous êtes sûr de vouloir supprimer cet article ?" } %>
          </span>
        </div>
      </div>  
    <% end %>
  <% else %>
    <p>Vous n'avez pas encore créé d'événement</p>
    <%= link_to "Créer mon 1er événement", new_event_path, class: "btn btn-primary" %>
  <% end %>
</div>