<div id="favorites-menu" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="home-header">MES SOLUTIONS FAVORITES</p>
        <p class="details">Retrouvez vos solutions préférées ici en cliquant sur le petit <i class="fa fa-heart-o"></i> situé en haut de chaque article</p>
      </div>
    </div>
  </div>
</div>

<%= render "user_menu" %>

<div class="container">
  <div class="row">
    <div class="col-md-offset-2 col-md-8">
      <div id="ressources-favorites">
        <div id="category_menu">
          <div class="listing_ressources">
            <% if @user_vote.include? true %>
              <% @all_ressources.each do |ress| %>
                <% if current_user.voted_up_on? ress %>
                <div class="row white">
                  <div class="col-xs-2">
                    <div class="desktop-display-logo hidden-xs">
                      <ul class= "list-inline">
                        <li>
                          <%= image_tag ress.logo.url(:thumb), class: "logo" %>
                        </li>
                      </ul>
                    </div>
                    <div class="mobile-display-logo visible-xs">
                      <ul class= "list-inline">
                        <li>
                          <%= image_tag ress.logo.url(:thumb), class: "logo" %>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-xs-9">
                    <h2 class= "sub-title"><%= link_to ress.title, ressource_path(ress.slug), target: "blank" %></h2>
                    <p class="content-title"><%= ress.description %></p>
                  </div>
                  <div class="col-xs-1">
                    <% if ress.price == "Gratuit" %>
                      <span class="price" id=<%= "#{ress.price}" %>>Gratuit</span>
                    <% elsif ress.price == "Promo" %>
                      <span class="price" id=<%= "#{ress.price}" %>>Promo</span>
                    <% else %>
                    <% end %>
                  </div>
                </div>
                <% end %>
              <% end %>
            <% else %>
              <p class ="nothing">
                Vous n'avez pas encore voté pour vos ressources préférées ! Pour retrouver facilement toutes vos ressources préférées, il vous suffit de cliquer sur le petit coeur situé en haut de chaque article et il apparaitra sur cette page :)
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>