<div id="matching-menu" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="home-header">Mes solutions personnalisées</p>
        <p class="details">Ces solutions sont choisies en fonction de votre profil et de vos besoins afin de vous faire découvrir celles qui vous correspondent vraiment</p>
          <%= render "user_reco_modal" %>
      </div>
    </div>
  </div>
</div>

<%= render "user_menu" %>

<div id="matching-container">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-2 col-md-8">
        <div class="listing_ressources">
          <% if @ressources == [] %>
            <p id="sorry" class="text-center">Vous n'avez pas encore répondu au questionnaire ! Vos réponses nous permettront de vous faire découvrir des solutions adaptées à votre profil.</p>
          <% else %>
            <% @ressources.each do |ress| %>
              <div class="row item white">
                <div class="col-xs-2">
                  <div class="desktop-display-logo hidden-xs">
                    <ul class= "list-inline">
                      <li>
                        <%= image_tag ress.logo.url(:thumb), class: "logo" %>
                      </li>
                    </ul>
                  </div>
                  <div class="mobile-display-logo visible-xs">
                    <ul class= "list-inline">
                      <li>
                        <%= image_tag ress.logo.url(:thumb), class: "logo" %>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-9">
                  <h2 class= "sub-title"><%= link_to ress.title, ressource_path(ress.slug)%></h2>
                  <p class="content-title"><%= ress.description %></p>
                </div>
                <div class="col-xs-1">
                  <% if ress.price == "Gratuit" %>
                    <span class="price" id=<%= "#{ress.price}" %>>Gratuit</span>
                  <% elsif ress.price == "Promo" %>
                    <span class="price" id=<%= "#{ress.price}" %>>Promo</span>
                  <% else %>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>