<div id="navbar-workup">
<nav class="navbar navbar-default navbar-wagon navbar-fixed-top" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" id="logo">
          <%= image_tag "logo-workup.png" %>
        <!-- work<span style="color: #1ECBCA;">up</span> -->
      </a>
      <p id="tagline" class="hidden-sm hidden-xs">Les meilleures solutions pour trouver votre job idéal</p>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" id= "little-screen">
        <li class="little-screen">
          <%= link_to t(".top_call_to_action", default: "Les Solutions"), ressources_path, class: "navbar-menu active-solutions" %>
        </li>
        <li class="little-screen">
          <%= link_to t(".top_call_to_action", default: "Les Offres Spéciales"), offer_users_path, class: "navbar-menu active-offers" %>
        </li>
         <li class="little-screen">
          <%= link_to t(".top_call_to_action", default: "Le Blog"), articles_path, class: "navbar-menu active-articles" %>
        </li>
        <li id="a-propos-menu" class="little-screen dropdown">
          <%= link_to "A Propos", "#", {class: "dropdown-toggle active-about", "data-toggle" => "dropdown", "role" => "button", "aria-expanded" => "false"} %>
          <ul class="dropdown-menu" role="menu">
            <li>
              <%= link_to t(".top_call_to_action", default: "Comment ça marche ?"), how_path, class: "navbar-menu" %>
            </li>
            <li>
              <%= link_to t(".top_call_to_action", default: "Qui sommes-nous ?"), about_path, class: "navbar-menu" %>
            </li>
            <li>
              <%= link_to t(".top_call_to_action", default: "Vous êtes un professionnels ?"), pro_path, class: "navbar-menu" %>
            </li>
            <li>
              <%= link_to t(".top_call_to_action", default: "Notre Manifeste"), manifeste_path, class: "navbar-menu" %>
            </li>
            <li>
              <%= link_to t(".top_call_to_action", default: "Contactez-nous"), contact_path, class: "navbar-menu" %>
            </li>
          </ul>
        </li>

        <% if user_signed_in? %>

          <li id= "connexion-dropdown" class="dropdown little-screen">
            <%= link_to "#", {class: "dropdown-toggle", "data-toggle" => "dropdown", "role" => "button", "aria-expanded" => "false"} do %>
              <% if current_user.avatar? %>
                <%= image_tag current_user.avatar.url(:medium), class: "img-avatar" %>
              <% else %>
                <%= image_tag "eight_horns.png", class: "img-avatar" %>
              <% end %>
              <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu" role="menu">
              <li>
                <%= link_to users_path do %>
                  <i class="fa fa-user"></i> <%= t ".profile", default: "Mon profil" %>
                <% end %>
              </li>
              <li>
                <%= link_to offer_users_path do %>
                  <i class="fa fa-hand-peace-o"></i>  <%= t ".profile", default: "Mes réductions" %>
                <% end %>
              </li>
              <li>
                <%= link_to favorites_users_path do %>
                  <i class="fa fa-heart"></i>  <%= t ".profile", default: "Mes favoris" %>
                <% end %>
              </li>
              <li>
                <%= link_to matching_users_path do %>
                  <i class="fa fa-magic"></i>  <%= t ".profile", default: "Mes solutions perso" %>
                <% end %>
              </li>
              <li>
                <% if current_user.admin? %>
                  <%= link_to new_ressource_path do %>
                    <i class="fa fa-plus-square"></i>  <%= t ".profile", default: "Créer une ressource" %>
                  <% end %>
                <% end %>
              </li>
              <li>
                <% if current_user.admin? %>
                  <%= link_to new_article_path do %>
                    <i class="fa fa-pencil"></i>  <%= t ".profile", default: "Rédiger un article" %>
                  <% end %>
                <% end %>
              </li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  <i class="fa fa-sign-out"></i>  <%= t ".sign_out", default: "Déconnexion" %>
                <% end %>
              </li>
            </ul>
          </li>
        <% else %>
          <li id="connexion-button" class="little-screen">
             <!-- link_to t(".sign_in", default: "SE CONNECTER"), new_user_session_path, class: "btn", id: "login" %> -->
             <%= render "shared/user_signin_signup_modal_form" %>
          </li>

        <% end %>

      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
</div>