<% content_for(:title) do %>
  L'agenda de l'emploi et la transition pro | WorkUp
<% end %>

<% content_for(:meta_description) do %>
  Découvrez tous les événements liés à l'emploi, l'orientation, la reconversion et création d'entreprise près de chez vous
<% end %>

<% content_for :meta_image, "evenement-trouver-job-workup.png" %>

<% if flash[:notice] %>
	<div class="alert alert-info fade in">
		<button class="close" data-dismiss="alert">×</button>
		<%= flash[:notice] %>
	</div>
<% end %>

<header ">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>L'agenda emploi</h1>
				<p class="subtitle-event">Partagez et retrouvez enfin facilement les événements liés à l'emploi, l'orientation, la reconversion et la création d'activité</p>
				<%= link_to "Créer un événement", new_event_path, class: "btn btn-primary", target: :_blank %>
			</div>
		</div>
	</div>
</header>

<main>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-3 filter">
				<div id="filter-event" class="white">
					<%= form_tag(events_path, method: "get", action: "index", id: "search-event", class: "form-inline") do %>
					  <div class="form-group">
					    <%= select_tag(:category, options_for_select(@categories), prompt: "Catégorie", class: "form") %>
					  </div>
					  <div class="form-group">
					    <%= text_field_tag :address, params[:address], placeholder: "Ville", class: "form" %>
					  </div>
					    <%= submit_tag("Chercher", class: "btn btn-empty") %>
					<% end %>
				</div>
				<div id="solutions" class="white hidden-xs hidden-sm">
					<p class="solutions-title">Nos découvertes</p>
					<div class="listing_ressources">
					  <% @ressources = Ressource.order("created_at desc").limit(6) %>
					  <% @ressources.each do |ress| %>
					    <%= link_to ressource_path(ress.id), target: :_blank do %>
					      <%= image_tag(ress.picture) %>
					      <p class= "sub-title"><%= ress.title %></p>
					    <% end %>
					  <% end %>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-9 events">
				<% (@start_day..@end_day).each do |event_date| %>
				<% @event_match = @events.where(["date = ?", event_date]) %>
					<% if !@event_match.empty? %>
						<span class="date"><%= l(event_date, format: '%A %d %B').capitalize %></span>
						<% @event_match.each do |event| %>
							<div class="row white event-item">
								<div class="col-xs-3 col-sm-2">
									<p class="time"><%= event.time.strftime("%kh%M") %></p>
								</div>
								<div class="col-xs-9 col-sm-10">
									<h2 class="sub-title"><%= link_to event.title, event_path(event), target: :_blank %></h2>
									<p class="content-title">Par <%= event.organiser %></p>
								</div>
							</div>	
						<% end %>
					<% end %>
				<% end %>
			</div>
		</div>
	</div>
</main>

<%= render "pages/footer" %>