<% content_for(:title) do %>
  <% "".html_safe + @event.title %>
<% end %>

<% content_for(:meta_description) do %>
	<% "".html_safe + @event.description.html_safe[0,150] %>
<% end %>

<% content_for :meta_image, "evenement-trouver-job-workup.png" %>

<header>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 text-center">
				<h1 class="hidden-xs" id="title-desktop"><%= "".html_safe + @event.title %></h1>
				<h1 class="visible-xs" id="title-mobile"><%= "".html_safe + @event.title %></h1>
				<% if @event.subscription_link.start_with?('http') %>
					<%= link_to "Participer à l'événement", (@event.subscription_link), class: "btn btn-primary", target: :_blank %>
				<% else %>
					<%= link_to "Participer à l'événement", ("http://" + @event.subscription_link), class: "btn btn-primary", target: :_blank %>
				<% end %>
				
			</div>
		</div>
	</div>
</header>
<section>
	<div class="container">
		<div class="col-xs-12 col-md-8">
			<div id="description" class="white-block">
				<div id="category-btn">
					<% @category_list.map do |category| %>
					  <span class="cat-btn"><%= category %></span>
					<% end %>

					<% if user_signed_in?  %>
					  <% if current_user.admin? || (current_user.id == @event.user.id) %>
					  <span class="admin-btn"><%= link_to "Editer", edit_event_path(@event.id) %></span>
					    <span class="admin-btn"><%= link_to "Supprimer", event_path(@event),
					      method: :delete, data: { confirm: "Vous êtes sûr de vouloir supprimer cet article ?" } %></span>
					  <% end %>
					<% end %>
				</div>
				<div id="content-event">
					<p class="event-subtitle">Description</p>
					<div class="content-desc"><%= "".html_safe + @event.description.html_safe %></div>
				</div>
				<div id="writer">
				    <% if @event.user.avatar? %>
				      <%= image_tag(@event.user.avatar.url(:medium), class: "img-circle") %>
				    <% else %>
				      <%=  image_tag "eight_horns.png", class: "img-circle" %>
				    <% end %>
				    <span>Partagé par <%= "".html_safe + @event.user.name.capitalize %></span>
				</div>
			</div>
		</div> 	
		<div class="col-xs-12 col-md-4">
			<div class="white-block">
				<div id="price">
					<p class="event-subtitle">Prix<span> (à partir de)</span></p>
					<p><%= @event.price %> €</p>
				</div>
			</div>
			<div class="white-block">
				<div id="date">
					<p class="event-subtitle">Date</p>
					<p><%= "".html_safe + l(@event.date, format: '%A %d %B').capitalize %>
						<% if @event.dateend != @event.date %> au 
							<%= "".html_safe + l(@event.dateend, format: '%A %d %B').capitalize %>
						<% end %>
					</p>
					<p><%= "".html_safe + @event.time.strftime("%kh%M") %></p>
				</div>
			</div>
			<div class="white-block">
				<div id="lieu">
					<p class="event-subtitle">Lieu</p>
					<p><%= "".html_safe + @event.address %></p>
				</div>
			</div>
			<div class="white-block">
				<div id="organiser">
					<p class="event-subtitle">Organisateur</p>
					<p><%= "".html_safe + @event.organiser %></p>
					<% if @event.website != "" %>
						<% if @event.website.start_with?('http') %>
							<%= link_to "Site internet", (@event.website), target: :_blank, id: "website" %>
						<% else %>
							<%= link_to "Site internet", ("http://" + @event.website), target: :_blank, id: "website" %>
						<% end %>
					<% end %>
				</div>
			</div>
		</div> 	
	</div>
</section>

<div id="map" style="width: 100%; height: 300px;"></div>
<% content_for(:after_js) do %>
	<%= javascript_tag do %>
		$(document).on('ready', function() {
			handler = Gmaps.build('Google');
			handler.buildMap({ 
			internal: { id: 'map' } }, 
			function(){
				marker = handler.addMarkers(<%= raw @marker.to_json %>);
				handler.bounds.extendWith(marker);
				handler.fitMapToBounds();
				handler.getMap().setZoom(15)
			});
		})
	<% end %>
<% end %>

<aside>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-offset-2 col-sm-8">
				<p class="event-title">Autres événements à venir près de chez vous</p>
				<% @events = Event.approved.where.not(id: @event.id).near(@event.address, 20).limit(4).order(date: :asc, time: :asc) %>
  				<% @events.each do |event| %>
       				<div class="row white-block event-item">
       					<div class="col-xs-3 col-sm-2">
       						<p class="time"><%= "".html_safe + l(event.date, format: '%d/%m').capitalize %></p>
       					</div>
       					<div class="col-xs-9 col-sm-10">
       						<h2 class="sub-title"><%= link_to event.title, event_path(event.id), target: :_blank %></h2>
       						<p class="content-title">Par <%= "".html_safe + event.organiser %></p>
       					</div>
       				</div>		
      			<% end %>
			</div>
		</div>
	</div>
</aside>

<%= render "pages/footer" %>