<div id="footer", class="text-center">
  <div class="container text-center" id="footer">
    <div class="row">
      <div class="col-xs-12 col-md-3 footer-item">
        <p>WorkUp</p>
        <ul>
          <li>
            <%= link_to "Comment ça marche", how_path %>
          </li>
          <li>
            <%= link_to "À Propos", about_path %>
          </li>
          <li>
            <%= link_to "Offres Pro", pro_path %>
          </li>
          <li>
            <%= link_to "Mentions légales", mentions_legales_path %>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-6 footer-item">
        <p>Recevez nos bons plans 1 fois / semaine dans votre boite mail</p>
        <ul>
          <li>
            <div id="mc_embed_signup form-group">
              <form action="//rocks.us10.list-manage.com/subscribe/post?u=93a8a8570acd0e6bdaf4f34e7&amp;id=385b3b77fa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                  <input type="email" name="EMAIL" class="email form-control text-center" id="mce-EMAIL" placeholder="Inscrivez-vous à la Newsletter" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <input type="submit" value="OK" name="subscribe" id="mc-embedded-subscribe" class="">
                </div>
              </form>
            </div>
          </li>
        </ul>
      </div>
      <div class="col-xs-12 col-md-3 footer-item">
        <p>Suivez-nous</p>
        <ul class="list-inline">
          <li>
            <div id="facebook">
              <%= link_to "https://www.facebook.com/workuper/", target: "blank" do %>
                <i class="fa fa-facebook"></i>
              <% end %>
            </div>
          </li>
          <li>
            <div id="twitter">
              <%= link_to "https://twitter.com/Workuper", target: "blank" do %>
                <i class="fa fa-twitter"></i>
              <% end %>
            </div>
          </li>
          <li>
            <div id="linkedin">
              <%= link_to "https://www.linkedin.com/company/workup-trouvez-votre-job-idéal", target: "blank" do %>
                <i class="fa fa-linkedin"></i>
              <% end %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>