<!-- integration seo meta-tags -->
<% content_for(:title) do %>
  Trouver un job qui vous plait | WorkUp
<% end %>

<%content_for(:meta_description) do %>
  Notre mission : Vous donner les meilleurs outils et conseils pour trouver les réponses à vos questions
<% end %>

<%content_for(:meta_image) do %>
  workup-bonheur-au-travail.png
<% end %>

<div id="souhait" class="text-center">
  <div class="container block">
    <div class="row">
      <div class="col-xs-12">
        <h1 id="title-h1">Notre souhait,<br> Créer un écosystème innovant 100% dédié à l'emploi</h1>
      </div>
    </div>
  </div>
</div>

<div id="mission" class="text-center">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-6">
        <p class="home-header">LA MISSION DE WORKUP </p>
      </div>
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-12 padded">
        <p>Aider les dernières générations à s'y retrouver dans le marché de l'emploi et à trouver un job en adéquation avec leurs valeurs. Pour cela, nous souhaitons vous donner de l'inspiration, vous accompagner, vous pousser à oser et surtout vous donner tous les bons outils pour passer à l'action et trouver un job qui vous plaît vraiment !</p><br>
        <b><p>Ils nous soutiennent et on les remercie (beaucoup) </p></b><br>
        <ul class= "list-inline">
          <li><%= image_tag "activaction.png" %></li>
          <li><%= image_tag "chomunity.png" %></li>
          <li><%= image_tag "cojob.jpeg" %></li>
          <li><%= image_tag "startisanat.png" %></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="emploi" class="text-center">
  <div class="container block">
    <div class="row">
      <div class="col-xs-12">
        <h2>Donner de la visibilité aux nouveaux outils et initiatives dans le secteur de l'emploi en France</h2>
      </div>
    </div>
  </div>
</div>

<div id="team" class="text-center">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-6">
        <p class="home-header">QUI SOMMES-NOUS ?</p>
      </div>
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-12 col-md-offset-1 col-md-4">
        <%= image_tag("anissa.jpg", alt: "Anissa Bennai", class: "img-circle") %>
        </br>
        <%= link_to "https://fr.linkedin.com/pub/anissa-bennai/20/466/751" do %>
          <p class="btn btn-primary">ANISSA</p>
        <% end %>
<!--         <p>uapropter a natura mihi videtur potius quam ab indigentia orta amicitia, applicatione magis animi cum quodam sensu amandi quam cogitatione quantum illa res utilitatis esset habitura.</p> -->
        <p>Anissa@workup.rocks</p>
        <div class="row">
          <div class="col-xs-12">
            <%= link_to "https://twitter.com/AnissaVannai" do %>
              <i class="fa fa-twitter"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-md-offset-2 col-md-4">
        <%= image_tag("charlotte.jpg", alt: "Charlotte Cady", class: "img-circle") %>
        </br>
        <%= link_to "https://fr.linkedin.com/in/charlottecady" do %>
          <p class="btn btn-primary">CHARLOTTE</p>
        <% end %>
        <!-- <p>Ancienne conseillère en business plan auprès d'entrepreneurs, elle s'est reconvertie pour vous concocter cette jolie plateforme</p> -->
        <p>Charlotte@workup.rocks</p>
        <div class="row">
          <div class="col-xs-12">
            <%= link_to "https://twitter.com/CharlotteCady" do %>
              <i class="fa fa-twitter"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="loveyourjob" class="text-center">
  <div class="container block">
    <div class="row">
      <div class="col-xs-12">
        <!-- <h2>QUOTE</h2> -->
      </div>
    </div>
  </div>
</div>

<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="text-center">MENTIONS LEGALES</p>
      </div>
    </div>
  </div>
</div>
