<!-- integration seo meta-tags -->
<% content_for(:title) do %>
  Trouver un job qui vous plait | WorkUp
<% end %>

<%content_for(:meta_description) do %>
  Notre mission : Vous faire découvrir les meilleurs outils et initiatives pour trouver le job de vos rêves
<% end %>

<div id="souhait" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>QUI SOMMES-NOUS ?</p>
      </div>
    </div>
  </div>
</div>

<div id="team" class="text-center">
  <div class="container padded">
    <div class="row">
<!--       <div class="col-xs-3 trait"></div>
      <div class="col-xs-6">
        <p class="home-header">QUI SOMMES-NOUS ?</p>
      </div>
      <div class="col-xs-3 trait"></div> -->
      <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-4">
        <%= image_tag("anissa.jpg", alt: "Anissa Bennai", class: "img-circle") %>
        </br>
        <%= link_to "https://fr.linkedin.com/pub/anissa-bennai/20/466/751", target: "blank" do %>
          <p class="btn btn-primary">ANISSA BENNAI</p>
        <% end %>
        <div id="description-anissa" class="white">
          <b><p class="city">- Caennaise -</p></b>
          <b><p>Ex Administratrice de Projets Artistiques</p></b>
          <p>"Si je fais gagner 6 mois de recherche d'information à une personne pour avancer sereinement dans sa transition pro, j'ai gagné mon pari"</p>
          <b><p>#communication #réseau #événementiel #coordination #créativité #impro</p></b>
          <p class="mail">Anissa@workup.rocks</p>
          <div class="row">
            <div class="col-xs-12">
              <%= link_to "https://twitter.com/AnissaVannai", target: "blank" do %>
                <i class="fa fa-twitter"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-4">
        <%= image_tag("charlotte.jpg", alt: "Charlotte Cady", class: "img-circle") %>
        </br>
        <%= link_to "https://fr.linkedin.com/in/charlottecady", target: "blank" do %>
          <p class="btn btn-primary">CHARLOTTE CADY</p>
        <% end %>
        <div id="description-charlotte" class="white">
          <b><p class="city">- Nantaise -</p></b>
          <b><p>Ex Consultante en Financement</p></b>
          <p>"Mettre à disposition toutes les découvertes, que nous avons faites lorsque nous étions dans cette situation, au plus grand nombre, en 3 clics est mon objectif"</p>
          <b><p>#web #veille #tech #débrouille #geek #design</p></b>
          <p class="mail">Charlotte@workup.rocks</p>
          <div class="row">
            <div class="col-xs-12">
              <%= link_to "https://twitter.com/CharlotteCady", target: "blank" do %>
                <i class="fa fa-twitter"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="notre-mission" class="text-center">
  <div class="container block">
    <div class="row">
      <div class="col-xs-12">
        <h2>Pourquoi WorkUp ?</h2>
          <p>
            Parce que le monde du travail évolue<br>
            Parce que nous ferons face à plusieurs transitions professionnelles dans notre vie<br>
            Parce que la moitié des métiers qui existent aujourd'hui auront disparu dans 20 ans<br>
            Parce que nous sommes désormais à la recherche d'un travail qui a du sens et dans lequel nous pouvons nous épanouir<br>
            Parce que ce n'est pas toujours facile de s'y retrouver parmi toutes les solutions existantes et de trouver celle qui nous convient
          </p>
        <%= link_to "découvrir maintenant", ressources_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div>

<%= render "pages/nl_block" %>

<%= render "pages/footer" %>

