<!-- integration seo meta-tags -->
<% content_for(:title) do %>
  Trouver un job qui vous plait | WorkUp
<% end %>

<%content_for(:meta_description) do %>
  Notre mission : Vous faire découvrir les meilleurs outils et initiatives pour trouver le job de vos rêves
<% end %>

<div id="souhait" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p>NOTRE MISSION</p>
      </div>
    </div>
  </div>
</div>

<div id="mission" class="text-center">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <div id="edito">
          <div class="paragraphe white">
            <h2>
            Le monde change et vous savez quoi ? Nous pensons que tout est possible !
            </h2>
            <p>
              Occuper un poste avec « plusieurs casquettes », avoir une (bonne) idée et la concrétiser en créant sa boîte, exercer plusieurs métiers au cours d’une même carrière, toutes ces situations sont le reflet du monde professionnel d’aujourd’hui.
            </p>
            <p>
              Il paraît aussi que nous ferons face à plus de 6 transitions professionnelles dans notre vie. Alors pourquoi se priver d'exercer un job (ou 6) qui nous plaît réellement, pour lequel nous sommes engagés et dans lequel nous nous reconnaissons ? Pourquoi se priver de créer son propre job ou de réinventer son poste pour être plus épanoui(e) ?
            </p>
          </div>
          <div class="paragraphe white">
            <h2>
              Redonner un sens au travail, c'est possible
            </h2>
            <p>
              Nous l'avons fait, trouver le job que nous aimons et devinez quoi ? Nous ne sommes pas les seules.
            </p>
            <p>
              Devenir infirmier ou développeur web à 40 ans, entreprendre à 25 ans, convaincre la boite où vous êtes salarié de vous laisser monter un projet intrapreneurial qui vous tient à coeur (et qui pourrait aussi être utile à votre entreprise), monter une association (qui fonctionne et devient votre job à temps plein), devenir traducteur freelance et travailler de Bali (parce que c'est quand même plus sympa), réinventer son poste au sein d'une grande boite, tenir un café librairie dans un petit village de France ou monter un blog de mode en ne sachant pas écrire une ligne de code sont autant d'exemples qui sont de <b><span style="color: #1ECBCA;">VRAIES</span></b> histoires !
            </p>
          </div>
          <div class="paragraphe white">
            <h2>
              De nombreuses possibilités s’offrent à vous
            </h2>
            <p>
              Nous nous sommes donnée une mission qui nous tient à coeur : vous faire prendre conscience qu’il existe différentes voies possibles pour s’épanouir dans son travail. A travers WorkUp, nous souhaitons :
            </p>
            <p>
              - Vous <b><span style="color: #1ECBCA;">montrer</span></b> le champ des possibles<br>
              - Vous <b><span style="color: #1ECBCA;">faire découvrir</span></b> ce que d'autres personnes qui étaient dans votre cas ont fait<br>
              - Vous <b><span style="color: #1ECBCA;">donner accès</span></b> à des astuces et conseils concrets<br>
              - Vous <b><span style="color: #1ECBCA;">orienter</span></b> vers les initiatives adaptées à votre besoin<br>
              - Vous <b><span style="color: #1ECBCA;">rassurer</span></b> quand vous traversez des moments de doute<br>
              - Vous <b><span style="color: #1ECBCA;">soutenir</span></b> lorsque vous avez besoin d'une oreille (particulièrement) attentive<br>
            </p>
          </div>
          <div class="paragraphe white">
            <p>
              C'est pour tout cela que nous sélectionnons pour vous, les sites, les cours, les ateliers, les événements, les MOOCs (cours en ligne), les structures d'accompagnement, les médias, les blogs, les livres, les vidéos, et bien plus encore, pour <strong>vous accompagner dans votre transition professionnelle</strong>, et nous l'espérons, vous aider à <strong>être épanoui(e) dans votre (futur ou actuel) travail.</strong>
            </p>
          </div>
          <div class="paragraphe white">
            <p>
              Au fait, toutes les ressources que nous mettons à votre disposition sont des ressources que nous avons choisies. Nous n'avons aucune pression financière et politique derrière cette sélection :) D'ailleurs n'hésitez pas à nous partager des initiatives que vous aimez !
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="emploi" class="text-center">
  <div class="container ">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <h1>Donner de la visibilité aux nouveaux outils et initiatives dans le secteur de l'emploi en France</h1>
      </div>
    </div>
  </div>
</div>

<div id="team" class="text-center">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-6">
        <p class="home-header">QUI SOMMES-NOUS ?</p>
      </div>
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-4">
        <%= image_tag("anissa.jpg", alt: "Anissa Bennai", class: "img-circle") %>
        </br>
        <%= link_to "https://fr.linkedin.com/pub/anissa-bennai/20/466/751", target: "blank" do %>
          <p class="btn btn-primary">ANISSA BENNAI</p>
        <% end %>
        <div id="description-anissa" class="white">
          <b><p>Ex Administratrice de Projets Artistiques</p></b>
          <p>"Si je fais gagner 6 mois de recherche d'information à une personne pour avancer sereinement dans sa transition pro, j'ai gagné mon pari"</p>
          <b><p>#communication #réseau #événementiel #coordination #créativité #impro</p></b>
          <p class="mail">Anissa@workup.rocks</p>
          <div class="row">
            <div class="col-xs-12">
              <%= link_to "https://twitter.com/AnissaVannai", target: "blank" do %>
                <i class="fa fa-twitter"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-4">
        <%= image_tag("charlotte.jpg", alt: "Charlotte Cady", class: "img-circle") %>
        </br>
        <%= link_to "https://fr.linkedin.com/in/charlottecady", target: "blank" do %>
          <p class="btn btn-primary">CHARLOTTE CADY</p>
        <% end %>
        <div id="description-charlotte" class="white">
          <b><p>Ex Consultante en Financement</p></b>
          <p>"Mettre à disposition toutes les découvertes, que nous avons faites lorsque nous étions dans cette situation, au plus grand nombre, en 3 clics est mon objectif"</p>
          <b><p>#web #veille #tech #entrepreneuriat #débrouille #geek #positive</p></b>
          <p class="mail">Charlotte@workup.rocks</p>
          <div class="row">
            <div class="col-xs-12">
              <%= link_to "https://twitter.com/CharlotteCady", target: "blank" do %>
                <i class="fa fa-twitter"></i>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <div id="loveyourjob" class="text-center">
  <div class="container ">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <p class="home-header">Ils nous soutiennent <br>et on les remercie</p>
      </div>
    </div>
  </div>
</div>

<div class="soutien text-center">
  <ul class= "list-inline">
     image_tag "activaction.png" %></li>
     image_tag "chomunity.png" %></li>
     image_tag "cojob-logo.jpg" %></li>
     image_tag "startisanat.png" %></li>
  </ul>
</div> -->

<%= render "social_media_pages" %>

<div id="footer", class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p><%= link_to "Mentions légales", mentions_legales_path %></p>
      </div>
    </div>
  </div>
</div>
