<!-- integration seo meta-tags -->
<% content_for(:title) do %>
  Trouver un job qui vous plait | WorkUp
<% end %>

<%content_for(:meta_description) do %>
  Notre mission : Vous donner les meilleurs outils et conseils pour trouver les réponses à vos questions
<% end %>

<%content_for(:meta_image) do %>
  workup-bonheur-au-travail.png
<% end %>

<div id="souhait" class="text-center">
  <div class="container">
    <div class="rox">
      <div class="col-xs-12">
        <p>NOTRE MISSION</p>
      </div>
    </div>
  </div>
</div>

<div id="mission" class="text-center">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <div id="edito">
          <div class="paragraphe">
            <b><p>
            Le monde change et vous savez quoi ? Nous pensons que tout est possible !
            </p></b>
            <p>
              Il parait qu'aujourd'hui, nous ferons face à plus de 6 transitions professionnelles dans notre vie alors pourquoi se priver d'exercer un job (ou 6) qui nous plai(sen)t réellement ? Pourquoi se priver de créer son propre job ?
            </p>
          </div>
          <div class="paragraphe">
            <b><p>
              Et oui nous l'avons fait, créer le job que nous aimons et devinez quoi ? Nous ne sommes pas les seules.
            </p></b>
            <p>
              Devenir infirmier ou développeuse web à 40 ans, entreprendre à 25 ans, convaincre la boite où vous êtes salarié de vous laisser monter un projet intrapreneurial qui vous tient à coeur (et qui pourrait aussi être utile à votre entreprise), monter une association (qui fonctionne et devient votre job à temps plein), devenir traducteur freelance et travailler de Bali (parce que c'est quand même plus sympa), sont autant d'exemples qui sont de <b><span style="color: #1ECBCA;">VRAIES</span></b> histoires !
            </p>
          </div>
          <div class="paragraphe">
            <b><p>
              Vous êtes en transition professionnelle (chômage, en poste ou envie d'entreprendre) et recherchez l'épanouissement dans votre travail ? WorkUp peut :
            </p></b>
            <p>
              - Vous <b><span style="color: #1ECBCA;">donner</span></b> les clefs pour y arriver<br>
              - Vous <b><span style="color: #1ECBCA;">montrer</span></b> le champ des possibles<br>
              - Vous <b><span style="color: #1ECBCA;">faire découvrir</span></b> ce que d'autres personnes qui étaient dans votre cas ont fait<br>
              - Vous <b><span style="color: #1ECBCA;">donner accès</span></b> à des astuces et conseils<br>
              - Vous <b><span style="color: #1ECBCA;">rassurer</span></b> quand vous traversez des moments de doute<br>
              - Vous <b><span style="color: #1ECBCA;">soutenir</span></b> lorsque vous avez besoin d'une oreille (particulièrement) attentive<br>
            </p>
          </div>
          <div class="paragraphe">
            <p>
              C'est pour tout cela que nous sélectionnons pour vous, les sites, les cours, les ateliers, les événements, les MOOCs (cours en ligne), les structures d'accompagnement, les médias, les blogs, les livres, les vidéos, et bien plus encore, pour <strong>vous accompagner dans votre transition professionnelle</strong>, et nous l'espérons, vous aider à <strong>être épanouis dans votre (futur ou actuel) travail.</strong>
            </p>
          </div>
          <div class="paragraphe">
            <p>
              Au fait, toutes les ressources que nous mettons à votre disposition sont des ressources que nous avons choisies. Nous n'avons aucune pression financière et politique derrière cette sélection :) D'ailleurs n'hésitez pas à nous partager des initiatives que vous aimez !
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="emploi" class="text-center">
  <div class="container ">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <h1>Donner de la visibilité aux nouveaux outils et initiatives dans le secteur de l'emploi en France</h1>
      </div>
    </div>
  </div>
</div>

<div id="team" class="text-center">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-6">
        <p class="home-header">QUI SOMMES-NOUS ?</p>
      </div>
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-offset-1 col-xs-10 col-md-offset-1 col-md-4">
        <%= image_tag("anissa.jpg", alt: "Anissa Bennai", class: "img-circle") %>
        </br>
        <%= link_to "https://fr.linkedin.com/pub/anissa-bennai/20/466/751", target: "blank" do %>
          <p class="btn btn-primary">ANISSA</p>
        <% end %>
        <b><p>Ancienne Administratrice</p></b>
        <b><p>#communication #réseau #événementiel #coordination #créativité #standup</p></b>
        <p>Anissa@workup.rocks</p>
        <div class="row">
          <div class="col-xs-12">
            <%= link_to "https://twitter.com/AnissaVannai", target: "blank" do %>
              <i class="fa fa-twitter"></i>
            <% end %>
          </div>
        </div>
      </div>
      <div class="col-xs-offset-1 col-xs-10 col-md-offset-2 col-md-4">
        <%= image_tag("charlotte.jpg", alt: "Charlotte Cady", class: "img-circle") %>
        </br>
        <%= link_to "https://fr.linkedin.com/in/charlottecady", target: "blank" do %>
          <p class="btn btn-primary">CHARLOTTE</p>
        <% end %>
        <b><p>Ancienne Consultante en Financement</p></b>
        <b><p>#web #veille #tech #entrepreneuriat #débrouille #geek</p></b>
        <p>Charlotte@workup.rocks</p>
        <div class="row">
          <div class="col-xs-12">
            <%= link_to "https://twitter.com/CharlotteCady", target: "blank" do %>
              <i class="fa fa-twitter"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="loveyourjob" class="text-center">
  <div class="container ">
    <div class="row">
      <div class="col-xs-offset-1 col-xs-10">
        <p class="home-header">Ils nous soutiennent <br>et on les remercie</p>
      </div>
    </div>
  </div>
</div>

<div class="soutien text-center">
  <ul class= "list-inline">
    <li><%= image_tag "activaction.png" %></li>
    <li><%= image_tag "chomunity.png" %></li>
    <li><%= image_tag "cojob-logo.jpg" %></li>
    <li><%= image_tag "startisanat.png" %></li>
  </ul>
</div>

<div id="footer", class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p><%= link_to "Mentions légales", mentions_legales_path %></p>
      </div>
    </div>
  </div>
</div>
