<% content_for(:title) do %>
  Trouver un emploi qui vous correspond | WorkUp
<% end %>

<%content_for(:meta_description) do %>
  Découvrez les meilleurs outils, sites d'emploi, structures d'accompagnement, événements et bien plus encore pour trouver un emploi qui vous passionne vraiment !
<% end %>

<!-- BANNIERE DESKTOP -->
<div id="home-desktop" class="hidden-xs">
  <div id="banner" class="text-center">
    <div class="container">
      <div class="row">
        <div class="content">
          <div class="col-xs-12">
            <h1 id= "baseline" class= "text-center">
              À LA RECHERCHE DU JOB IDÉAL ?
            </h1>
            <p class= "trouver-un-emploi">
              Découvrez les meilleurs sites, outils et solutions pour <span class="animate-element"></span>
            </p>
          </div>
          <div class="col-xs-12">
            <ul class="list-inline">
              <%= link_to "Je veux trouver mon job idéal", ressources_path, class: "btn btn-primary" %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="arrow">
      <a href="#new"><i class="fa fa-angle-down "></i></a>
    </div>
  </div>
</div>

<!-- BANNIERE MOBILE -->
<div id="home-mobile" class="visible-xs">
  <div id="banner" class="text-center">
    <div class="container">
      <div class="row">
        <div class="content">
          <div class="col-xs-12">
            <h1 id= "baseline" class= "text-center">
              À LA RECHERCHE DU JOB IDÉAL ?
            </h1>
            <p class= "trouver-un-emploi">
              Découvrez les meilleurs sites, outils et solutions pour <span class="animate-element"></span>
            </p>
          </div>
          <div class="col-xs-12">
            <ul class="list-inline">
              <%= link_to "Je veux trouver mon job idéal", ressources_path, class: "btn btn-primary" %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div id="arrow">
      <a href="#new"><i class="fa fa-angle-down "></i></a>
    </div>
  </div>
</div>

<!-- =========== NL =========== -->

<div id="home-bar-newsletter">
<!--   <div class="container">
    <div class="row">
      <div class="col-xs-12"> -->
        <ul class="list-inline">
          <li class="hidden-xs">
            <div id="facebook">
              <%= link_to "https://www.facebook.com/workuper/", target: "blank" do %>
                <i class="fa fa-facebook"></i>
              <% end %>
            </div>
          </li>
          <li class="hidden-xs">
            <div id="twitter">
              <%= link_to "https://twitter.com/Workuper", target: "blank" do %>
                <i class="fa fa-twitter"></i>
              <% end %>
            </div>
          </li>
          <li class="hidden-xs">
            <div id="linkedin">
              <%= link_to "https://www.linkedin.com/company/workup-trouvez-votre-job-idéal", target: "blank" do %>
                <i class="fa fa-linkedin"></i>
              <% end %>
            </div>
          </li>
          <li>
            <div id="mc_embed_signup form-group">
              <form action="//rocks.us10.list-manage.com/subscribe/post?u=93a8a8570acd0e6bdaf4f34e7&amp;id=385b3b77fa" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll">
                  <input type="email" name="EMAIL" class="email text-center" id="mce-EMAIL" placeholder="Inscrivez-vous à la Newsletter" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <input type="submit" value="OK" name="subscribe" id="mc-embedded-subscribe" class="">
                </div>
              </form>
            </div>
          </li>
        </ul>
<!--       </div>
    </div>
  </div> -->
</div>

<div id="new"></div>

<div class="news_offres">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="new">
            <p class="home-subheader">LES NOUVELLES DÉCOUVERTES</p>
            <div class="listing_ressources">
              <% @ressources = Ressource.order("created_at desc").limit(4) %>
              <% @ressources.each do |ress| %>
              <div class="row item white">
                <div class="col-xs-2">
                  <div class="desktop-display-logo hidden-xs">
                    <ul class= "list-inline">
                      <li>
                        <%= image_tag ress.logo.url(:thumb), class: "logo" %>
                      </li>
                    </ul>
                  </div>
                  <div class="mobile-display-logo visible-xs">
                    <ul class= "list-inline">
                      <li>
                        <%= image_tag ress.logo.url(:thumb), class: "logo" %>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="col-xs-10">
                  <h2 class= "sub-title"><%= link_to ress.title, ressource_path(ress.slug)%></h2>
                  <p class="content-title"><%= ress.description %></p>
                </div>
              </div>
              <% end %>
              <%= link_to "Voir toutes les solutions", ressources_path, class: "btn btn-primary" %>
            </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="new">
          <p class="home-subheader">LES OFFRES SPÉCIALES</p>
          <div class="listing_ressources">
            <% Ressource.where(price: 'Promo').order('updated_at DESC').limit(4).each do |ress| %>
                <div class="row item white">
                  <div class="col-xs-2">
                    <div class="desktop-display-logo hidden-xs">
                      <ul class= "list-inline">
                        <li>
                          <%= image_tag ress.logo.url(:thumb), class: "logo" %>
                        </li>
                      </ul>
                    </div>
                    <div class="mobile-display-logo visible-xs">
                      <ul class= "list-inline">
                        <li>
                          <%= image_tag ress.logo.url(:thumb), class: "logo" %>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="col-xs-10">
                    <h2 class= "sub-title"><%= link_to ress.title, ressource_path(ress.slug)%></h2>
                    <p class="content-title"><%= ress.offer %></p>
                  </div>
                </div>
            <% end %>
            <%= link_to "Voir toutes les offres", offer_users_path, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="guide" class="text-center padding">
  <div class="container">
    <div class="row">
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-6">
        <p class="home-header" >COMMENT ÇA MARCHE ?</p>
      </div>
      <div class="col-xs-3 trait"></div>
    </div>
    <div class="row">
      <div id="explication" class="col-sm-12 padded text-center">
        <b><p>
            Que vous soyez à la recherche d'un emploi, en poste ou en création d'entreprise, nous voulons vous donner toutes les informations et les bons outils pour vous accompagner dans votre réflexion et vous aider à trouver le job qui vous convient.
          </p></b>
          <p class="hidden-xs">
            Parce qu'il n'est pas toujours facile de s'y retrouver, nous testons des outils, des formations, des ateliers, des cours, des MOOCs, nous lisons des articles, des magazines, des blogs, des livres, nous visionnons des vidéos et rencontrons les acteurs de l'emploi pour vous offrir une sélection adaptée à vos besoins et vous faire découvrir des initiatives de qualité.
          </p>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-3 bot">
            <p class="rond">1</p>
            <p class="action"><b>Découvrez les nouvelles initiatives</b><br> que nous avons testé et enregistrez les dans vos favoris</p>
        </div>
        <div class="col-xs-12 col-sm-3 bot">
            <p class="rond">2</p>
            <p class= "action"><b>Bénéficiez des offres spéciales</b><br> que nous négocions pour vous aider à passer à l'action</p>
        </div>
        <div class="col-xs-12 col-sm-3 bot">
            <p class="rond">3</p>
            <p class= "action"><b>Poussez votre réflexion</b><br> en contactant les initiatives, utilisant les outils, allant aux événements, etc.</p>
        </div>
        <div class="col-xs-12 col-sm-3 bot">
            <p class="rond">4</p>
            <p class= "action"><b>Restez informé des nouveautés</b><br> en vous abonnant à notre newsletter ou en nous suivant sur les réseaux sociaux</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="temoignage" class="text-center">
  <div class="container">
    <div class="row padded">
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-6">
        <p class="home-header" >CE QU'EN PENSENT NOS LECTEURS</p>
      </div>
      <div class="col-xs-3 trait"></div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <p class="citation"><i>"Vos articles donnent beaucoup de pistes et informent surtout au sujet d'initiatives originales. Vous faites connaître les idées neuves, c'est vraiment extra"</i><br><b>Marie</b></p>
      </div>
      <div class="col-sm-4">
        <p class="citation"><i>"Vos articles permettent de découvrir de nouvelles initiatives d'accompagnement pour changer de métier, trouver son métier ou lancer sa boite, c'est super intéressant. En résumé vous faites notre travail en aidant à trouver les bons réseaux et les bonnes doses d'inspiration"</i><br><b>Romain</b></p>
      </div>
      <div class="col-sm-4">
        <p class="citation"><i>"WorkUp permet de ne pas avoir à chercher l'info et de la retrouver sur une seule plateforme. Je connaissais déjà quelques bons plans mais là j'ai accès à plein d'autres pistes, franchement merci !"</i><br><b>Jeanne</b></p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-4">
        <p class="citation"><i>"Une super boite à outils où aller piocher. Les articles sont un vrai plus dans la présentation de chaque solution, dispositif, livre..."</i><br><b>Matthieu</b></p>
      </div>
      <div class="col-sm-4">
        <p class="citation"><i>"Une petite bouffée d'oxygène avec des découvertes pour avancer et des sources de bonnes idées auxquelles on a pas forcément pensé !"</i><br><b>Pierre</b></p>
      </div>
      <div class="col-sm-4">
        <p class="citation"><i>"WorkUp me permet de confronter ma vision et ma situation à des outils et pratiques pour aller plus vite ou y voir plus clair"</i><br><b>Mathilde</b></p>
      </div>
    </div>
  </div>
</div>

<div id="presse" class="text-center">
  <div class="container">
    <div class="row padded">
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-6">
        <p class="home-header" >ILS PARLENT DE NOUS</p>
      </div>
      <div class="col-xs-3 trait"></div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-inline">
          <li>
              <%= image_tag("logo-france-info.jpg", alt: "WorkUp sur France Info") %>
          </li>
          <li>
              <%= image_tag("logo-madame-figaro.png", alt: "WorkUp sur Madame Figaro") %>
          </li>
          <li>
              <%= image_tag("logo-les-echos-start.jpg", alt: "WorkUp dans les Echos Start") %>
          </li>
          <li>
              <%= image_tag("logo-radio-mouv.png", alt: "WorkUp sur Le Mouv") %>
          </li>
          <li>
            <%= image_tag("Logo_Version_Femina.png", alt: "WorkUp dans Version Femina") %>
          </li>

          <li>
              <%= image_tag("logo-les-pepites-tech.jpg", alt: "WorkUp sur les pépites tech") %>
          </li>
          <li>
              <%= image_tag("logo-apec.jpg", alt: "WorkUp sur l'Apec") %>
          </li>
          <li>
              <%= image_tag("logo-widoobiz.png", alt: "WorkUp sur Widoobiz") %>
          </li>
<!--           <li>
             image_tag("logo-backpack.jpg", alt: "WorkUp dans Backpack")
          </li> -->
          <li>
            <%= image_tag("Logo_radio_tendance_ouest.svg.png", alt: "WorkUp sur Tendance Ouest") %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<!-- <div id="parceque" class="text-center">
  <div class="container block">
    <div class="row">
      <div class="col-xs-12">
        <h2>Saviez-vous que vous pouvez...<h2>
        <p>
          Tester un métier pendant une journée avec un artisan ?<br>
          Bénéficier de témoignages variés de la part de professionnels sur leur métier au quotidien ?<br>
          Rencontrer d'autres chercheurs d'emploi et vous entraider dans vos recherches ?<br>
          Découvrir des histoires de personnes comme vous, qui ont "monté leur boite" ?<br>
          Postuler sans CV sur les nouveaux sites de recrutement qui cartonnent ?<br>
          Et bien plus encore !
        </p>
         link_to "Découvrez les initiatives", ressources_path, class: "btn btn-primary" %>
      </div>
    </div>
  </div>
</div> -->

<%= render "pages/footer" %>
