<% content_for(:title) do %>
  Nos offres pour les professionnels de l'emploi | WorkUp
<% end %>

<%content_for(:meta_description) do %>
  Des conférences, ateliers, événements sur l'emploi, la transition professionnelle et l'entrepreneuriat, et de la visibilité online et offline
<% end %>

<div id="expert" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <p class="home-header">NOS OFFRES</p>
      </div>
    </div>
  </div>
</div>

<div id="offres" class="padded">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <p class="pro-title">Accompagnement individuel</p>
        <div class="white">
          <p><b>Super, vous avez trouvé plein d’info sur WorkUp mais dans cette jungle vous vous sentez encore perdu ? 
          </b></p>
          <p>Pour aller encore plus loin, on a décidé de vous accompagner individuellement, dans la réalisation de votre plan d’action. Pendant 1h30 rencontrez un membre de l’équipe qui vous accompagnera dans le choix des structures et outils qui vous aideront à trouver votre job idéal. Vous bénéficierez aussi du réseau WorkUp et de nos bons plans en exclusivité. </p> 
          <p>Pour prendre RDV c’est simple, envoyez-nous un mail à team@workup.rocks en expliquant brièvement votre situation et un membre de notre équipe vous contactera par téléphone.</p>
          <p><b>Prix :</b> 60 € pour 1h30</p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <p class="pro-title">Atelier collectif</p>
        <div class="white">
          <p><b>Nous animons des ateliers sur les thèmes de la recherche d'emploi, l'orientation, la reconversion et l'entrepreneuria auprès de grandes écoles, universités, associations, institutions et entreprises.</b></p>
          <p>Pour plus de précisions, envoyez-nous un mail à team@workup.rocks en expliquant votre demande et un membre de notre équipe vous recontactera par téléphone.</p>
          <p><b>Prix :</b> varie selon la structure</p>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>


<div id="partenaires" class="text-center">
  <div class="container">
  <div class="row padded">
    <div class="col-xs-3 trait"></div>
    <div class="col-xs-6">
      <h1 class="home-header" >Ils nous font confiance</h1>
    </div>
    <div class="col-xs-3 trait"></div>
  </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-inline">
          <li>
            <%= link_to "http://www.parisandco.paris/", target: "blank" do %>
              <%= image_tag("paris-and-co.png", alt: "Paris and Co") %>
            <% end %>
          </li>
          <li>
            <%= link_to "http://www.mairie14.paris.fr/mairie14/", target: "blank" do %>
              <%= image_tag("logo-festival-digital-jobs.jpg", alt: "Mairie du 14e Paris") %>
            <% end %>
          </li>
          <li>
            <%= link_to "http://www.paris-sorbonne.fr/", target: "blank" do %>
              <%= image_tag("logo-la-sorbonne-paris.png", alt: "La Sorbonne Paris") %>
            <% end %>
          </li>
          <li>
            <%= link_to "http://www.univ-nantes.fr/talentsdutertre", target: "blank" do %>
              <%= image_tag("logo-universite-nantes.jpg", alt: "Université de Nantes") %>
            <% end %>
          </li>
          <li>
            <%= link_to "http://www.cite-sciences.fr/fr/au-programme/lieux-ressources/cite-des-metiers/", target: "blank" do %>
              <%= image_tag("logo-cite-des-metiers-paris.jpg", alt: "Cité des Métiers de Paris") %>
            <% end %>
          </li>
          <li>
            <%= link_to "http://www.madircom.com/", target: "blank" do %>
              <%= image_tag("logo-madircom.jpg", alt: "Ma DIRCOM") %>
            <% end %>
          </li>
          <li>
            <%= link_to "http://cojob.fr/", target: "blank" do %>
              <%= image_tag("logo-cojob.jpg", alt: "Cojob") %>
            <% end %>
          </li>
          <li>
            <%= link_to "http://somanyways.org/", target: "blank" do %>
              <%= image_tag("logo-somanyways.jpg", alt: "SoManyWays") %>
            <% end %>
          </li>
          <li>
            <%= link_to "http://les2rives.fr/", target: "blank" do %>
              <%= image_tag("logo-VAE-les-2-rives.png", alt: "VAE les 2 Rives") %>
            <% end %>
          </li>
          <li>
            <%= link_to "https://jobmaker.fr/", target: "blank" do %>
              <%= image_tag("logo-jobmaker.png", alt: "Jobmaker") %>
            <% end %>
          </li>
          <li>
            <%= link_to "http://viemonjob.com/", target: "blank" do %>
              <%= image_tag("logo-viemonjob.png", alt: "Viemonjob") %>
            <% end %>
          </li>
          <li>
            <%= link_to "http://skytea.fr/", target: "blank" do %>
              <%= image_tag("logo-sky-tea.png", alt: "Skytea") %>
            <% end %>
          </li>
          <li>
            <%= link_to "http://eklore.fr/", target: "blank" do %>
              <%= image_tag("logo-eklore.png", alt: "Eklore") %>
            <% end %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="presse" class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-6">
        <p class="home-header" >ILS PARLENT DE NOUS</p>
      </div>
      <div class="col-xs-3 trait"></div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <ul class="list-inline">
          <li>
            <%= link_to "http://www.franceinfo.fr/emission/tout-comprendre/2015-2016/trouvez-votre-emploi-grace-internet-29-03-2016-11-00", target: "blank" do %>
              <%= image_tag("logo-france-info.jpg", alt: "WorkUp sur France Info") %>
            <% end %>
          </li>
          <li>
            <%= link_to "http://madame.lefigaro.fr/business/les-5-questions-a-se-poser-pour-trouver-le-job-ideal-211016-117414", target: "blank" do %>
              <%= image_tag("logo-madame-figaro.png", alt: "WorkUp sur Madame Figaro") %>
            <% end %>
          </li>
          <li>
            <%= link_to "http://start.lesechos.fr/continuer-etudes/vie-etudiante/les-16-newsletters-pour-enfin-recevoir-des-mails-interessants-5748.php", target: "blank" do %>
              <%= image_tag("logo-les-echos-start.jpg", alt: "WorkUp dans les Echos Start") %>
            <% end %>
          </li>
          <li>
            <%= link_to "http://www.mouv.fr/tags/workup", target: "blank" do %>
              <%= image_tag("logo-radio-mouv.png", alt: "WorkUp sur Le Mouv") %>
            <% end %>
          </li>
          <li>
            <%= image_tag("Logo_Version_Femina.png", alt: "WorkUp dans Version Femina") %>
          </li>

          <li>
            <%= link_to "http://magazine.pickandpow.com/le-top-10-des-startups-francaises-du-mois-de-juin-2016-par-les-pepites-tech/", target: "blank" do %>
              <%= image_tag("logo-les-pepites-tech.jpg", alt: "WorkUp sur les pépites tech") %>
            <% end %>
          </li>
          <li>
            <%= link_to "http://blog-experts.cadres.apec.fr/2017/01/09/15-outils-digitaux-indispensables-a-votre-recherche-demploi/", target: "blank" do %>
              <%= image_tag("logo-apec.jpg", alt: "WorkUp sur l'Apec") %>
            <% end %>
          </li>
          <li>
            <%= link_to "http://www.widoobiz.com/a-la-une/summer-school-workup-reflechir-a-avenir-professionnel/72425", target: "blank" do %>
              <%= image_tag("logo-widoobiz.png", alt: "WorkUp sur Widoobiz") %>
            <% end %>
          </li>
          <li>
            <%= image_tag("Logo_radio_tendance_ouest.svg.png", alt: "WorkUp sur Tendance Ouest") %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div id="contact" class="text-center">
  <div class="container padded">
    <div class="row">
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-6">
        <p class= "home-header">Contactez-nous</p>
      </div>
      <div class="col-xs-3 trait"></div>
      <div class="col-xs-offset-1 col-xs-10 padded">
        <p>Envie d'en savoir plus sur nos prestations ? Un besoin spécifique ? Envie de nous rencontrer ? <br>N'hésitez pas à nous envoyer un petit message, nous serions ravies de vous répondre ! </p>
      </div>
      <div class="col-xs-offset-2 col-xs-8" id="form">
        <form action="https://formspree.io/team@workup.rocks" method="POST">
          <input type="email" name="email" class="form-control" id="exampleInputEmail2" placeholder="Votre e-mail">
          <textarea class="form-control" name="message" rows="3" placeholder="Laissez-nous vos mots doux, ici :)" ></textarea>
          <input type="submit" name="submit" id="send" class="btn btn-primary" value="Envoyer">
        </form>
      </div>
    </div>
  </div>
</div>

<%= render "pages/footer" %>
