<div class="container">
  <div class="row">
    <div class="col-xs-offset-1 col-xs-10">
      <div class="text-center mini-padded" id="pourquoi-se-connecter">
        <p class="home-header">Devenez membre de la communauté</p>
        <p>
          Montrez aux initiatives que vous les soutenez en cliquant sur les <i class="fa fa-heart-o"></i> et retrouvez les dans vos favoris. Vous recevrez aussi les nouveautés, bons plans et astuces pour vous aider dans votre transition professionnelle.
        </p>
      </div>
      <div id="signin">
        <% if devise_mapping.omniauthable? %>
          <% resource_class.omniauth_providers.each do |provider| %>
            <% if provider.to_s == "facebook" %>
              <%= link_to "Se Connecter avec Facebook", omniauth_authorize_path(resource_name, provider), class: "btn btn-facebook" %>
            <% else %>
              <%= link_to "Se connecter avec #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
            <% end %>
          <% end %>
        <% end %>

        <p>---------------- ou ----------------</p>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.error_notification %>

            <%= f.input :email, label: false,   required: false, autofocus: true, placeholder: "Email" %>
            <%= f.input :password, label: false, required: false, placeholder: "Mot de Passe" %>
            <%= f.input :remember_me, label:"Se souvenir", as: :boolean if devise_mapping.rememberable? %>

        <ul class="list-inline">
          <li>

                <%= f.button :submit, t("Se Connecter", default: "Se Connecter"), class: "btn btn-primary" %>
            <% end %>
          </li>
          <li>
            <% if devise_mapping.registerable? && controller_name != 'registrations' %>
              <%= link_to "Je n'ai pas encore de compte", new_registration_path(resource_name), class: "btn", id: "new-count" %></br>
            <% end %>
          </li>
        </ul>

        <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Vous avez oublié votre mot de passe ?", new_password_path(resource_name) %><br />
        <% end %>
      </div>
    </div>
  </div>
</div>
