<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-offset-3 col-md-6">
      <div id="signin">
        <!-- <h2>Se Connecter</h2> -->

        <% if devise_mapping.omniauthable? %>
          <% resource_class.omniauth_providers.each do |provider| %>
            <% if provider.to_s == "facebook" %>
              <%= link_to "Se Connecter avec Facebook", omniauth_authorize_path(resource_name, provider), class: "btn btn-facebook" %>
            <% else %>
              <%= link_to "Se connecter avec #{provider.to_s.titleize}", omniauth_authorize_path(resource_name, provider) %><br />
            <% end %>
          <% end %>
        <% end %>

        <p>---------------- ou ----------------</p>

        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <%= f.input :email, label: false,   required: false, autofocus: true, placeholder: "Email" %>
            <%= f.input :password, label: false, required: false, placeholder: "Mot de Passe" %>
            <%= f.input :remember_me, label:"Se souvenir", as: :boolean if devise_mapping.rememberable? %>
            <%= f.button :submit, t("Se Connecter", default: "Se Connecter"), class: "btn btn-primary" %>
        <% end %>

        <% if devise_mapping.registerable? && controller_name != 'registrations' %>
          <%= link_to "Vous n'avez pas encore de compte ?", new_registration_path(resource_name) %><br />
        <% end %>


        <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
          <%= link_to "Vous avez oublié votre mot de passe ?", new_password_path(resource_name) %><br />
        <% end %>
      </div>
    </div>
  </div>
</div>
